
@{
    ViewBag.Title = "VisualizarDocumento";
    Layout = "~/Views/Shared/_Layout _Administracion.cshtml";
}

<style>
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        background-color: rgb(0 0 0 / 0%);
        color: #fff;
        padding: 0px 30px 8px 20px;
    }

    .select2-container--default .select2-selection--single {
        background-color: #fff;
        border: 1px solid #aaa;
        border-radius: 4px;
        margin-top: 12px;
    }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 46px !important;
            position: absolute;
            top: 1px;
            right: 1px;
            width: 20px;
        }

    .swal-overlay {
        z-index: 1060; /* Ajusta el z-index del swal */
    }

    .modal {
        z-index: 1050; /* Ajusta el z-index del modal */
    }

    .bg-c-white {
        background-color: #FFB6C1;
    }

    .process-step .btn:focus {
        outline: none
    }

    .process {
        display: table;
        width: 100%;
        position: relative
    }

    .process-row {
        display: table-row
    }

    .process-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important
    }

    .process-row:before {
        top: 40px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-order: 0
    }

    .process-step {
        display: table-cell;
        text-align: center;
        position: relative
    }

        .process-step p {
            margin-top: 4px
        }

    .btn-circle {
        width: 80px;
        height: 80px;
        text-align: center;
        font-size: 12px;
        border-radius: 50%
    }





    .TextoColor {
        color: #555 !important;
    }


    .close:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    .close {
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
    }

    progress {
        -webkit-appearance: none;
        border-radius: 15px;
    }

    ::-webkit-progress-bar {
        background-color: #ccc;
        border-radius: 15px;
    }


    progress[value]::-webkit-progress-value {
        background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0,0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, #01477f, #008c99);
        border-radius: 15px;
        background-size: 35px 20px, 100% 100%, 100% 100%;
    }



    .cogVcH:hover {
        cursor: pointer;
        border-style: solid;
    }

    .cogVcH {
        max-width: 180px;
        width: 100%;
        border: 1px dashed #448aff;
        color: #448aff;
        height: 216px;
        border-radius: 8px;
        padding: 10px;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-flow: column wrap;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        font-size: 1.2rem;
        margin-right: 10px;
        margin-bottom: 15px;
        -webkit-box-flex: 1;
        flex-grow: 1;
        transition: border 0.25s ease-in-out 0s;
    }

    .gXEoDm {
        width: 180px;
        height: 216px;
        border: 0.5px solid rgb(124, 152, 167);
        border-radius: 8px;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        margin-bottom: 15px;
        position: relative;
    }

    .sc-fATqzn:hover .fpCmKW {
        visibility: visible;
        top: -16px;
    }

    .fpCmKW {
        position: absolute;
        width: 100%;
        text-align: right;
        z-index: 3;
        top: 0px;
        visibility: hidden;
        transition: visibility 0s ease-out 0s;
        box-sizing: border-box;
        overflow: hidden;
    }

    .ecdNeI {
        width: 48px;
        height: 48px;
        cursor: pointer;
        display: inline-block;
        background-image: url(/panel/static/media/R-PANELv2.06.1-RC1/icon_rotate_48x48.2dfac1f1.svg);
        background-size: cover;
        margin-right: 4px;
    }

    .ecdNeI2 {
        width: 48px;
        height: 48px;
        cursor: pointer;
        display: inline-block;
        background-image: url(/panel/static/media/R-PANELv2.06.1-RC1/icon_rotate_48x48.2dfac1f1.svg);
        background-size: cover;
        margin-right: 4px;
    }


    .fpCmKW span:last-child {
        margin: 0px;
    }

    .jskYLk {
        width: 48px;
        height: 48px;
        cursor: pointer;
        display: inline-block;
        background-size: cover;
        margin-right: 4px;
        background-image: url('../../Images/icons/icon_trash_48x48.e4cbe3f0.svg');
    }

    .gsEJWt {
        width: 100%;
        height: 30px;
        color: white;
        font-size: 12px;
        font-weight: 500;
        padding: 5px 10px;
        background-image: linear-gradient( 310deg, #ff0049 0%, #990051 100%);
        border-radius: 8px 8px 0px 0px;
        text-align: center;
        position: absolute;
        z-index: 2;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .iOCuAz {
        border-radius: 8px 0px 8px 0px 0px;
        overflow: hidden;
        width: 180px;
        height: 215px;
        transition: height 1s ease 0s;
    }

    .gnckKk {
        width: 178px;
        height: 215px;
        object-fit: cover;
        transition: height 1s ease 0s;
        border-radius: 8px;
    }

    .hZRbtg input, .hZRbtg select, .hZRbtg textarea {
        font-family: Hind;
        font-weight: 400;
        font-size: 14px;
    }

    .ldkJDz {
        display: block;
        width: 100%;
        padding: 0px 67px 0px;
        margin-top: 40px;
        white-space: normal;
        min-height: 692px;
        font-family: Hind;
        overflow-x: hidden;
    }

    .ihwDZV {
        padding: 40px 40px 45px;
        white-space: normal;
    }

    .hZRbtg {
        box-shadow: rgb(0 0 0 / 8%) -1px 2px 20px 0px;
        border-radius: 12px;
        width: 100%;
        white-space: normal;
    }

    .hZRbtg {
        box-shadow: rgb(0 0 0 / 8%) -1px 2px 20px 0px;
        border-radius: 12px;
        width: 100%;
        white-space: normal;
    }

    .dUQJCE {
        height: 35px;
        width: 172px;
        text-overflow: ellipsis;
        border-radius: 0px 0px 8px 8px;
        margin: 0px 5px;
        color: rgb(104, 128, 140);
        font-size: 12px !important;
    }

    .sc-fATqzn:hover .fpCmKW {
        visibility: visible;
        top: -16px;
    }


    .fpCmKW {
        position: absolute;
        width: 100%;
        text-align: right;
        z-index: 3;
        top: 0px;
        visibility: hidden;
        transition: visibility 0s ease-out 0s;
        box-sizing: border-box;
        overflow: hidden;
    }

    .ecdNeI:hover {
        background-image: url('../../Images/icons/icon_rotate_48x48_hover.1e032e91.svg');
    }

    .ecdNeI {
        width: 48px;
        height: 48px;
        cursor: pointer;
        display: inline-block;
        background-image: url('../../Images/icons/icon_rotate_48x48.2dfac1f1.svg');
        background-size: cover;
        margin-right: 4px;
    }

    .ecdNeI2:hover {
        background-image: url('../../Images/icons/icon_subir.png');
    }

    .ecdNeI2 {
        width: 48px;
        height: 48px;
        cursor: pointer;
        display: inline-block;
        background-image: url('../../Images/icons/icon_subir_hover.png');
        background-size: cover;
        margin-right: 4px;
    }

    .gsEJWt div {
        height: 14px;
        width: 14px;
        margin-bottom: 4px;
        background-image: url('../../Images/icons/star.9fe16126.svg');
        background-size: cover;
        margin-right: 8px;
    }

    .faMYgb {
        max-height: 250px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        box-sizing: content-box;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: justify;
        justify-content: space-between;
        transition: max-height 1s ease 0s;
        overflow: hidden;
    }

    .gJWAcE {
        width: 100%;
        padding: 30px 0px 0px px;
        display: flex;
        -webkit-box-pack: start;
        justify-content: flex-start;
        flex-flow: row wrap;
        transition: max-height 1s ease 0s;
    }

    .fpCmKW span:last-child {
        margin: 0px;
    }


    .jskYLk:hover {
        background-image: url('../../Images/icons/icon_trash_48x48_hover.d8eb4bff.svg');
    }

    .btn-info.active, .btn-info:active, .show > .btn-info.dropdown-toggle {
        background-color: #448aff;
        background-image: none;
        border-color: #3f629d;
    }

    select.form-control, select.form-control:focus, select.form-control:hover {
        border-top: 1px;
        border-right: 1px;
        border-left: 1px;
        border: 1px solid #cccccc;
        border-radius: 2px;
    }

        select.form-control:not([size]):not([multiple]) {
            height: 36px;
        }

    .table td, .table th {
        padding: 0.25rem 0.75rem;
    }
</style>

<div class="@*pcoded-content*@">
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Visualizar Documentos</h5>
                        <p class="m-b-0"> </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="/Administracion/PrincipalA"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#!">Mis Documentos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="pcoded-inner-content">
        <div class="main-body">

            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row justify-content-between">
                                        <div class="col-8">
                                            <h5>Mis Documentos  </h5>
                                        </div>

                                        <div class="col-4 text-center SimbologiaPrestamo">
                                            <p><b>Simbología Prestamos</b></p>
                                        </div>
                                    </div>


                                    <div class="row justify-content-between SimbologiaPrestamo">
                                        <div class="col-8">
                                            <span>Observa tus documentos cargados en el sistema</span>
                                        </div>

                                        <div class="col-4 d-flex d-flex justify-content-center">
                                            <a><i class="fa fa-flag f-20" style="color: #2ECC71"></i>&nbsp;&nbsp;Vigente</a>
                                            &nbsp;&nbsp;
                                            <a><i class="fa fa-flag f-20" style="color: #F1C40F"></i>&nbsp;&nbsp;Por terminar</a>
                                            &nbsp;&nbsp;
                                            <a><i class="fa fa-flag f-20" style="color: #E74C3C"></i>&nbsp;&nbsp;Vencido</a>
                                        </div>
                                    </div>

                                </div>

                                <div class="card-block">

                                    <div class="table-responsive">
                                        <table id="Notificacion" class="table  table-hover " style="width: 100%; cursor: pointer">
                                            <thead style="background-color: #0d6efd">
                                                <tr>

                                                    <th style="color:white">Nombre</th>
                                                    <th class="text-center" style="color:white">Ruta</th>
                                                    <th scope="col" class="text-center col-1" style="color:white">Visualizar</th>
                                                    <th style="display:none;" class="text-center">palabrasclave</th>
                                                    <th scope="col" class="text-center col-1" style="color:white">Compartir</th>
                                                    <th id="thDetallesMisDocumentos" scope="col" class="text-center col-1" style="color:white">Detalles</th>
                                                    <th scope="col" class="text-center col-1" style="color:white">Actualizar</th>
                                                    <th scope="col" class="text-center col-1" style="color:white">Eliminar</th>
                                                    <th id="thEditarMisDocumentos" scope="col" class="text-center col-1" style="color:white">Editar</th>
                                                    <th scope="col" class="text-center col-1" style="color:white">Descargar</th>
                                                    @*EXPERIMENTAL*@
                                                    <th id="thAlmacenFisicoMisDocumentos" class="text-center" style="color:white">Almacen físico</th>
                                                    <th id="thPrestamoMisDocumentos" class="text-center" style="color:white">Prestamo</th>
                                                </tr>
                                            </thead>
                                            <tbody class="table-group-divider">
                                                @foreach (var item in ViewBag.dtList_Doc)
                                                {

                                                    <tr>
                                                        @{
                                                            //PROCESOS Y CONSULTAS /////////////////////////////////////////////////////
                                                            ProyectoBase.Models.Notification Estatus = new ProyectoBase.Models.Notification();
                                                            Estatus.IdDocumento = item.Id;
                                                            var status = ProyectoBase.Models.Test.SP_StatusDoCompartido(Estatus);

                                                            ProyectoBase.Models.Notification permiso = new ProyectoBase.Models.Notification();
                                                            permiso.IdUsuario = ViewBag.UsuarioId;
                                                            permiso.IdDocumento = item.Id;
                                                            var Resultado = ProyectoBase.Models.Test.ValidacionPermiso(permiso);

                                                            ProyectoBase.Models.Notification editor = new ProyectoBase.Models.Notification();
                                                            editor.IdDocumento = item.Id;
                                                            var Nombre = ProyectoBase.Models.Test.Editor(editor);

                                                            ProyectoBase.Models.Notification NRuta = new ProyectoBase.Models.Notification();
                                                            NRuta.IdDocumento = item.Id;
                                                            var NombreR = ProyectoBase.Models.Test.sp_NombreRutaDoc(NRuta);
                                                            ///////////////////////////////////////////////////////////////////////////////


                                                            //Verificar Si esta Prestado (NOMBRE)
                                                            if (item.IdMedioAlmacenamiento == 0)
                                                            {
                                                                <td><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;<a>@item.Nombre</a></td>
                                                            }
                                                            else
                                                            {
                                                                <td><i class="fa fa-handshake-o"></i>&nbsp;&nbsp;<a>@item.Nombre</a></td>
                                                            }

                                                            //FUNCION DE BUSCAR Directorio SOLO ADMIN(RUTA)
                                                            if (ViewBag.PermisoRutaPresente != null)
                                                            {
                                                                <td class="text-center" onclick="window.location.href = '/Administracion/Index?Doc=' + encodeURIComponent('@item.Nombre')"><i class="fa fa-folder-open-o" style="color: #ecc849 "></i>&nbsp;&nbsp;<a> @NombreR.Nombre</a></td>
                                                            }
                                                            else
                                                            {
                                                                <td class="text-center"><i class="fa fa-folder-open-o" style="color: #ecc849 "></i>&nbsp;&nbsp;<a> @NombreR.Nombre</a></td>
                                                            }

                                                            <td class="text-center"><a onclick="VerDetalle(@item.Id);"><i class="fa fa-eye f-20"></i></a></td>
                                                            <td style="display:none;"><a>@item.PalabrasClave</a></td>
                                                            //COMPARTIR LOGICA
                                                            if (status.Ids >= 1)
                                                            {
                                                                if (Resultado.Id == 2)
                                                                {
                                                                    <td class="text-center"><span class="label label-info">Editando por ti</span></td>
                                                                }
                                                                else
                                                                {
                                                                    if (Resultado.Id == 1)
                                                                    {
                                                                        <td class="text-center"><a onclick="Compartir(@item.Id);"><span class="label label-info">Compartido</span></a></td>

                                                                    }
                                                                    else
                                                                    {
                                                                        <td class="text-center"><a><i></i></a>No disponible</td>
                                                                    }
                                                                }

                                                            }
                                                            else
                                                            {
                                                                if (Resultado.Id == 2)
                                                                {
                                                                    <td class="text-center"><span class="label label-info">Editando por ti</span></td>
                                                                }
                                                                else
                                                                {
                                                                    if (Resultado.Id == 1)
                                                                    {
                                                                        <td class="text-center"><a onclick="Compartir(@item.Id);"><i class="fa fa-share-alt-square f-20" style="color: #00B050"></i></a></td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td class="text-center"><a><i></i></a>No disponible</td>
                                                                    }
                                                                }

                                                            }
                                                            //Detalles
                                                            <td class="tdDetallesMisDocumentos text-center"><a onclick="gestionar(@item.Id);"><i class="fa fa-info f-20" style="color: #9C27B0 "></i></a></td>













                                                            //Actualizar  con eliminar
                                                            if (Resultado.Id == 2)

                                                            {
                                                                //Cuando se esta editando por ti
                                                                <td class="text-center"><a onclick="Ver(@item.Id);"><i class="fa fa-refresh f-20"></i></a></td>
                                                                <td class="text-center"><a><i></i></a>Función no disponible</td>
                                                            }
                                                            else
                                                            {
                                                                if (Resultado.Id == 1)

                                                                {
                                                                    //Status Normal
                                                                    <td class="text-center"><a onclick="Ver(@item.Id);"><i class="fa fa-refresh f-20" style="color: #007BFF"></i></a></td>
                                                                    <td class="text-center"><a onclick="Eliminar(@item.Id);"><i class="fa fa-trash f-20" style="color: #E74C3C"></i></a></td>
                                                                }
                                                                else
                                                                {
                                                                    //Cundo se esta editando por otra persona
                                                                    <td class="text-center"><a><i></i></a>Editando por: @Nombre.Nombre</td>
                                                                    <td class="text-center"><a><i></i></a>Función no disponible</td>
                                                                }
                                                            }



                                                            //Procesos de edicion ARCHIVOS DE TRABAJO
                                                            if (item.IdClasificacionArchivo == 8)
                                                            {
                                                                if (!(item.NmArchivo == "" || item.NmArchivo == null) && Resultado.Id == 2)
                                                                {
                                                                    <td onclick="SubirDoc('@item.Id','@item.Version')" title="Sube el el documento actualizado" class="tdEditarMisDocumentos text-center"><i class="fa fa-cloud-upload f-20" aria-hidden="true" style="color:#8679"></i></td>
 }
                                                                else
                                                                {
                                                                    if (!(item.NmArchivo == "" || item.NmArchivo == null) && Resultado.Id == 1)

                                                                    {
                                                                        @*<td onclick="Bloquear(@item.Id);" class="tdEditarMisDocumentos text-center"><a href="/Documentos/descargar?doc=@item.NmArchivo&nom=@item.Nombre"><i class="fa fa-download f-20" style="color:red"></i></a></td>*@
                                                                        <td onclick="Consultar('@item.Id','@item.NmArchivo','@item.Nombre')" class="tdEditarMisDocumentos text-center"><a><i class="fa fa-download f-20" style="color:red"></i></a></td>

                                                                    }
                                                                    else
                                                                    {
                                                                        <td class="tdEditarMisDocumentos text-center"><a><i></i></a>No disponible</td>
                                                                    }
                                                                }
                                                            }
                                                            else if (!(item.NmArchivo == "" || item.NmArchivo == null))
                                                            {
                                                                <td class="tdEditarMisDocumentos text-center"><a href="/Documentos/descargar?doc=@item.NmArchivo&nom=@item.Nombre"><i class="fa fa-download f-20" style="color:green"></i></a></td>

                                                            }
                                                            else
                                                            {
                                                                <td class="tdEditarMisDocumentos text-center">Sin editable</td>
                                                            }

























                                                            /////VAMOS A DESCARGAR PDF
                                                            <td class="text-center"><a href="/Documentos/descargar?doc=@item.NmOriginal&nom=@item.Nombre"><i class="fa fa-file-pdf-o f-20" style="color: #FF0000"></i></a></td>
                                                            //CONTROL ALMACEN FÍSICO
                                                            if (item.IdTipoArchivo == 1)
                                                            {
                                                                <td class="tdAlmacenFisicoMisDocumentos text-center"><a onclick="Ruta(@item.Id);"><i class="fa fa-map-signs f-20" style="color: #b1967a"></i></a></td>

                                                            }
                                                            else
                                                            {
                                                                <td class="tdAlmacenFisicoMisDocumentos text-center"><a>No aplica</a></td>

                                                            }
                                                            //CONTROL PRESTAMO
                                                            if (item.IdTipoArchivo == 1)
                                                            {
                                                                if (item.IdMedioAlmacenamiento == 0)
                                                                {
                                                                    <td class="tdPrestamoMisDocumentos text-center"><a onclick="Prestar(@item.Id);"><i class="fa fa-exchange f-20" style="color: #80151a"></i></a></td>

                                                                }
                                                                else
                                                                {

                                                                    ProyectoBase.Models.Notification _notification = new ProyectoBase.Models.Notification();
                                                                    ProyectoBase.Models.Usuarios Usuario = (ProyectoBase.Models.Usuarios)System.Web.HttpContext.Current.Session["Sesion"];
                                                                    _notification.IdUsuario = Usuario.Id;
                                                                    _notification.IdDocumento = item.Id;

                                                                    var Num = ProyectoBase.Models.Test.SP_EstadoPrestasmo(_notification);

                                                                    if (Num.Ids >= 16)
                                                                    {
                                                                        <td class="tdPrestamoMisDocumentos text-center">
                                                                            <a title="Marcar documento devuelto" onclick="devuelto(@item.Id);">
                                                                                <i class="fa fa-flag f-20"
                                                                                   style="color: #2ECC71">
                                                                                </i>
                                                                            </a>
                                                                        </td>
                                                                    }
                                                                    else if (Num.Ids <= 15 && Num.Ids >= 1)
                                                                    {
                                                                        <td class="tdPrestamoMisDocumentos text-center">
                                                                            <a title="Marcar documento devuelto" onclick="devuelto(@item.Id);">
                                                                                <i class="fa fa-flag f-20"
                                                                                   style="color: #F1C40F">
                                                                                </i>
                                                                            </a>
                                                                        </td>
                                                                    }
                                                                    else if (Num.Ids <= 0)
                                                                    {
                                                                        <td class="tdPrestamoMisDocumentos text-center">
                                                                            <a title="Marcar documento devuelto" onclick="devuelto(@item.Id);">
                                                                                <i class="fa fa-flag f-20"
                                                                                   style="color: #E74C3C">
                                                                                </i>
                                                                            </a>
                                                                        </td>
                                                                    }


                                                                }

                                                            }
                                                            else
                                                            {
                                                                <td class="tdPrestamoMisDocumentos text-center"><a>No aplica</a></td>
                                                            }

                                                        }

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!---MODAL OPERACIONES SUBIDA--->
<div class="modal fade " id="ModalSubida" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="overflow-y: scroll;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Subir Documentación</h5>
            </div>
            <div class="modal-body">
                <p>Sube los documentos solicitados para actualizar el documento correctamente</p>

                <div class="col-md-12 col-lg-12">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row justify-content-center">
                                @*APARIENCIA DE SUBIDA DOCUMENTO*@
                                <div>
                                    <div data-repa="step2-images-collapseContainer" class="sc-cLxPOX">
                                        <div id="Galeria" data-repa="step2-images-filesContainer" class="sc-dTsoBL gJWAcE">
                                            <button type="button" onclick="BtnCargarPDF()" class="flex-c-m cl0 size-125 cogVcH bor2 hov-btn3 p-lr-15 trans-04">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp; Actualizar Archivo <br />
                                                <i style="font-size:38px; color:#F44336" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                @*APARIENCIA DE SUBIDA DOCUMENTO Editable*@
                                <div>
                                    <div data-repa="step2-images-collapseContainer" class="sc-cLxPOX" style="float:left">
                                        <div id="Word" data-repa="step2-images-filesContainer" class="sc-dTsoBL gJWAcE">
                                            <button type="button" onclick="BtnCargarWord()" class="flex-c-m cl0 size-125 cogVcH bor2 hov-btn3 p-lr-15 trans-04">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp; Actualizar Editable
                                                <div class="row">
                                                    <i style="font-size:38px;" class="fa fa-file-word-o"></i>
                                                    <i style="font-size:38px; color:limegreen" class="fa fa-file-excel-o"></i>
                                                    <i style="font-size: 38px; color:darkorange" class="fa fa-file-powerpoint-o"></i>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            @*BARRA DE PROGRESO Y EL input de documento*@
                            <div class="row">
                                <input id="fileInput2" type="file" multiple style="visibility:hidden">
                                <input id="fileInputword" type="file" multiple style="visibility:hidden">

                                <div class="col-md-12">
                                    <progress id="fileProgress" style="display: none; width:100%"></progress>
                                </div>
                            </div>



                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" onclick="GuardarDocsEditar()">Subir</button>

                        <button type="button" id="BtncloseCompartir" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- VIEW compartir-->
<div class="modal fade " id="ModalCompartir" data-bs-backdrop="static" data-bs-keyboard="false" style="overflow:hidden;" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CompartirTitulo"></h5>
                <input type="hidden" id="Idcompartir" />
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <p>Seleciona la entidad a compartir tu documento </p>

                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="largeInput">Entidad </label>
                        <select class="form-control" id="Entidad" onchange="Selecionar(),mostrar1(),mostrar2(),mostrar3(),mostrar4(),mostrarGrupos()">
                            <option value="0">Seleccionar </option>
                            @foreach (var item1 in ViewBag.dtEntidad)
                            {
                                <option value="@item1.Id">@item1.Nombre</option>

                            }
                        </select>

                    </div>
                </div>


                <div id="Empresahide" class="col-md-12 col-lg-12">
                    <div>
                        <input type="text" id="txtvalue1" style="border: none; margin: 3px;" />
                        @*<label  id="txtvalue1"></label>*@
                        <select class="form-control" id="empresa" onchange="(this.value, this.text)">
                            <option value="0">Seleccionar </option>
                            @foreach (var item1 in ViewBag.dtEmpresasListado)
                            {
                                <option value="@item1.Id">@item1.Nombre</option>

                            }

                        </select>
                    </div>
                </div>

                <div class="col-md-12 col-lg-12">
                    <div class="row" id="DepartamentoHide">

                        <div class="col">
                            <label for="largeInput">Empresa </label>
                            <select class="form-control" id="empresaDep" onchange="ConsultaDepartamento(this.value, this.text)">
                                <option value="0">Seleccionar </option>
                                @foreach (var item1 in ViewBag.dtEmpresasListado)
                                {
                                    <option value="@item1.Id">@item1.Nombre</option>

                                }

                            </select>
                        </div>

                        <div class="col">
                            <input type="text" id="txtvalue2" style="border: none; margin: 3px;" />
                            <select class="form-control" id="Departamento">
                                <option value="0">Seleccionar </option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="row" id="EmpleadosHide">

                        <div class="col">
                            <label for="largeInput">Empresa </label>
                            <select class="form-control" id="empresaEmpleado" onchange="ConsultaUsuario(this.value, this.text)" ">
                                <option value="0">Seleccionar </option>
                                @foreach (var item1 in ViewBag.dtEmpresasListado)
                                {
                                    <option value="@item1.Id">@item1.Nombre</option>

                                }

                            </select>
                        </div>

                        <div class="col">
                            <input type="text" id="txtvalue3" style="border:none;margin:3px;" />
                            <select class="form-control" id="Empleado">
                                <option value="0">Seleccionar </option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="col-md-12 col-lg-12" id="Provedorhide">

                    <div>
                        <input type="text" id="txtvalue4" style="border: none; margin: 3px;" />
                        <select class="form-control" id="proveedor" onchange="(this.value, this.text)">
                            <option value="0">Seleccionar </option>
                            @foreach (var item1 in ViewBag.dtprovedorListados)
                            {
                                <option value="@item1.Id">@item1.Nombre</option>

                            }

                        </select>
                    </div>

                </div>

                <div class="col-md-12 col-lg-12">
                    <div class="row" id="GruposHide">

                        <div class="col">
                            <label for="largeInput">Empresa </label>
                            <select class="form-control" id="EmpresaGrupo" onchange="ConsultaGrupos(this.value, this.text)">
                                <option value="0">Seleccionar </option>
                                @foreach (var item1 in ViewBag.dtEmpresasListado)
                                {
                                    <option value="@item1.Id">@item1.Nombre</option>

                                }

                            </select>
                        </div>

                        <div class="col">
                            <input type="text" id="txtvalue5" style="border:none;margin:3px;" />
                            <select class="form-control" id="Grupo">
                                <option value="0">Seleccionar </option>
                            </select>
                        </div>

                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick=" MoreInfo()">Aceptar</button>
                    <button type="button" id="Btnclosecomparto" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!---MODAL POSCOMPARTIR--->
<div class="modal fade " id="ModalCompartido" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="overflow-y: scroll;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CompartirTitulo2"></h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <p>El documento se compartira con los siguientes usuarios</p>

                <div class="col-md-12 col-lg-12">

                    <div class="row">

                        <div class="table-responsive">
                            <table id="TableDocsCompartido" class="table  table-hover " style="width: 100%; cursor: pointer">
                                <thead style="background-color: #0d6efd">
                                    <tr>
                                        <th style="color:white">Nombre</th>
                                        <th class="text-center" style="color:white">Email</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider" id="Contenido">
                                </tbody>
                            </table>
                        </div>



                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" onclick="GuardarCompartido()">Compartir</button>

                        <button type="button" id="BtncloseCompartir" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Prestar-->
<div class="modal fade " id="ModalPrestar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="PrestarTitulo"></h5>
                <input type="hidden" id="IdPrestar" />
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <p>Seleciona la persona a la cual prestar tu documento </p>

                <div class="col-md-12 col-lg-12">
                    <div class="row" id="EmpleadosHide">

                        <div class="col">
                            <label for="largeInput">Empresa </label>
                            <select class="form-control" id="empresaEmpleadoP" onchange="ConsultaUsuarioP(this.value, this.text)" ">
                                <option value="0">Seleccionar </option>
                                @foreach (var item1 in ViewBag.dtEmpresasListado)
                                {
                                    <option value="@item1.Id">@item1.Nombre</option>

                                }

                            </select>
                            <br />
                            <div class="form-group">
                                <label for="largeInput">Fecha límite de prestamo</label>
                                <input type="date" class="form-control form-control input-number" id="FechaPublicacionP" onkeypress="return soloNum(event)">
                            </div>
                        </div>

                        <div class="col">
                            <label for="largeInput">Persona </label>
                            <select class="form-control" id="EmpleadoP">
                                <option value="0">Seleccionar </option>
                            </select>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" id="BtnGPrestar" class="btn btn-primary" onclick="GuardarPrestar()">Prestar</button>
                        <button type="button" id="BtnclosePrestar" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@*SCRIPTS SELECT2--*@
<link href="~/Vendor/select2/dist/css/select2.css" rel="stylesheet" />
<script src="~/Vendor/select2/dist/js/select2.js"></script>

    <script>
        $(document).ready(function () {
        // Obtener la lista de elementos del ViewBag
            var elementosOcultos = @Html.Raw(Json.Encode(ViewBag.ElementoOculto));

            // Recorrer la lista y aplicar el ocultamiento
            elementosOcultos.forEach(function (elemento) {
                var elementId = elemento.IdElemento;
                var isVisible = elemento.Activo === 0;

                if (!isVisible) {
                    $('.' + elementId).hide();
                }
            });

        });
    </script>
    <script type="text/javascript">
    let IdTemporal;
    let IdVersion;

    function Consultar(Id, Word, Nombre) {
        swal({
        title: "Descargar Documento",
        text: "Tenga en cuenta que esta acción desactivará las funciones de edición y descarga para todos los usuarios con acceso a este archivo.",
        icon: "warning",
        buttons: true,
        dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                window.location.href = "/Documentos/descargar?doc=" + Word + "&nom=" + Nombre;
                Bloquear(Id);
            } else {
              
                swal("Cancelado", "La descarga del archivo a sido cancelada", "info");
            }
        });
    }

    function gestionar(Id) {

        var obj = {};

        obj['UrlVaible'] = Id;

        var jsonObject = {
            "URL": obj
        };

        $.ajax({
            type: "POST",
            url: "@Url.Action("URL_Cifrar", "URLS")",
            async: false,
            data: JSON.stringify(jsonObject),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                window.location.href = '@Url.Action("Gestionar", "Documentos")?Id=' + result.Url;
            },
            error: function () {
                alert("intentalo mas tarde");
            }
        });

    }


    $(document).ready(function () {



        $('#Notificacion').DataTable({
            pageLength: 10,
            lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todas']],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/es-MX.json'
            }
        }).on('init.dt', function () {
            $('.dataTables_filter input').attr('placeholder', 'Palabra clave');
        });


        $('#Detalle').DataTable({

            pageLength: 5,
            lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todas']],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/es-MX.json'
            }
        });

        ///Funcion Busqueda Principal
        // Obtener el parámetro de búsqueda de la URL
        var urlParams = new URLSearchParams(window.location.search);
        var searchParam = urlParams.get('search');

        // Buscar y establecer el valor de búsqueda en DataTables
        if (searchParam) {
            var tabla = $('#Notificacion').DataTable();
            tabla.search(searchParam).draw();
        }


        $('#Empleado').select2({
            dropdownParent: $("#ModalCompartir")
        });
        $('#Departamento').select2({
            dropdownParent: $("#ModalCompartir")
        });
        $('#EmpleadoP').select2({
            dropdownParent: $("#ModalPrestar")
        });

    });

    ///INICIALIZACION TABLAS
    $("#DepartamentoHide").hide();
    $("#EmpleadosHide").hide();
    $("#Empresahide").hide();
    $("#Provedorhide").hide();
    $("#GruposHide").hide();
    //Funcion detalles del documento
    function Bloquear(Id) {

        var obj = {};
        obj['Id'] = Id;

        var jsonObject = {
            "Doc": obj
        };

        $.ajax({
            url: "@Url.Action("DocumentoInsertarPermiso", "Documentos")",
            data: JSON.stringify(jsonObject),
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {

                BloqueoP(Id);
            },
            error: function (resultado) {

                alert("Descargando");
            }
        });
    }

     function BloqueoP(Id) {
        var obj = {};
        obj['Id'] = Id;

        var jsonObject = {
            "Doc": obj
        };

        $.ajax({
            url: "@Url.Action("BloqueopR", "Documentos")",
            data: JSON.stringify(jsonObject),
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                swal({
                    title: "Documento descargado",
                    text: "El documento descargado no sera editable para los demas usuarios sube la actualización del documento para habilitar la edición en los demas usuarios",
                    icon: "success",
                    button: "Aceptar",
                }).then((result) => {
                    // Si se apretó el botón de "Aceptar" o se cerró el modal
                    if (result) {
                        // Recargar la página completa
                        location.reload();
                    }
                });
            },
            error: function (resultado) {

                alert("Error funcion ");
            }
        });
    }



    function SeleccionarPorId(id) {

    var obj = {};
    obj['Id'] = id;

    var jsonObject = {
        "list_Doc": obj
    };

    $.ajax({
        url: "@Url.Action("SeleccionarPorId", "Documentos")",
        data: JSON.stringify(jsonObject),
        type: "POST",
        contentType: "application/json",
        dataType: "json",

        success: function (resultado) {


            $('#IdRegistro').val(resultado[0].Id);
            $('#ModalTitulo').text('Documento: ' + resultado[0].Nombre);
            $('#Descripcion').text(resultado[0].Descripcion);
            $('#FechaRegistro').text(resultado[0].FechaVigor);
            $('#Version').text(resultado[0].Version);
            $('#Registrado').text(resultado[0].Registrado);
            $('#Estatus').text(resultado[0].Estatus);
            $('#Clasificacion').text(resultado[0].Clasificacion);
            $('#TipoDocumento').text(resultado[0].TipoDocumento)

        },
        error: function (resultado) {
            console.log(resultado);
            alert("Eroor funcion seleccionar por id ");
        }
    });
    }

    function Ver(Id) {

        var obj = {};

        obj['UrlVaible'] = Id;

        var jsonObject = {
            "URL": obj
        };

        $.ajax({
            type: "POST",
            url: "@Url.Action("URL_Cifrar", "URLS")",
            async: false,
            data: JSON.stringify(jsonObject),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                window.location.href = '@Url.Action("VistaEditar", "Administracion")?Id=' + result.Url;
            },
            error: function () {
                AlertDanger("Problemas al consultar ", "Intentolo mas tarde.");
            }
        });

    }
    //Inicio Para compartir
    function Compartir(id) {

        $('#ModalCompartir').modal('show');
        ListarCompartirPorId(id);
    }



    function ListarCompartirPorId(id) {
    var obj = {};
    obj['Id'] = id;

    var jsonObject = {
        "list_Doc": obj
    };

    $.ajax({
        url: "@Url.Action("SeleccionarPorId", "Documentos")",
        data: JSON.stringify(jsonObject),
        type: "POST",
        contentType: "application/json",
        dataType: "json",

        success: function (resultado) {
            $('#Idcompartir').val(resultado[0].Id);
            $('#CompartirTitulo').text('Compartir Documento: ' + resultado[0].Nombre);
            $('#CompartirTitulo2').text('Compartir Documento: ' + resultado[0].Nombre);
        },
        error: function (resultado) {
            alert("Error funcion listar compartir por ID ");
        }
    });
}

    function GuardarCompartido() {
        if (validacompartir()) {

            var obj = {};
            obj['IdDocumento'] = $("#Idcompartir").val();
            obj['IdEntidad'] = $("#Entidad option:selected").val();

            var entidad = $("#Entidad option:selected").text();


            if (entidad == "Empresas") {
                obj['IdAsignacion'] = $("#empresa option:selected").val();
            }
            else if (entidad == "Departamentos") {
                obj['IdAsignacion'] = $("#Departamento option:selected").val();
            } else if (entidad == "Empleados") {
                obj['IdAsignacion'] = $("#Empleado option:selected").val();
            } else if (entidad == "Provedores") {
                obj['IdAsignacion'] = $("#proveedor option:selected").val();
            }
            else if (entidad == "Grupos") {
                obj['IdAsignacion'] = $("#Grupo option:selected").val();
            }

            var jsonObject = {
                "NCompartir": obj
            };
            //console.log(jsonObject);
            $.ajax({
                type: "POST",
                url: "@Url.Action("Compartir", "Documentos")",
                async: false,
                data: JSON.stringify(jsonObject),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    $("#BtncloseCompartir").trigger("click");

                    if (data.Id == 1) {
                        swal({
                            title: "Documento Compartido. !",
                            text: " ",
                            icon: "success",
                            button: "Aceptar",

                        });

                    }
                    else {
                        swal({
                            title: "El Documento que intentas compartir ya esta Compartido.",
                            text: '',
                            icon: "warning",
                            button: "Aceptar",
                        });
                    }

                }
            });
        }
    }

    function validacompartir() {
        var result = false;

        $('#Entidad').css("border", "1px solid #ff0049");
        $('#empresa').css("border", "1px solid #ff0049");
        $('#empresaDep').css("border", "1px solid #ff0049");
        $('#Departamento').css("border", "1px solid #ff0049");
        $('#empresaEmpleado').css("border", "1px solid #ff0049");
        $('#Empleado').css("border", "1px solid #ff0049");
        $('#proveedor').css("border", "1px solid #ff0049");
        $('#Grupo').css("border", "1px solid #ff0049");


        if ($("#Entidad option:selected").val() > 0) {
            $('#Entidad').css("border", "1px solid #cccccc");
        }
        if ($("#empresa option:selected").val() > 0) {
            $('#empresa').css("border", "1px solid #cccccc");
        }
        if ($("#empresaDep option:selected").val() > 0) {
            $('#empresaDep').css("border", "1px solid #cccccc");
        }
        if ($("#Departamento option:selected").val() > 0) {
            $('#Departamento').css("border", "1px solid #cccccc");
        }
        if ($("#empresaEmpleado option:selected").val() > 0) {
            $('#empresaEmpleado').css("border", "1px solid #cccccc");
        }
        if ($("#Empleado option:selected").val() > 0) {
            $('#Empleado').css("border", "1px solid #cccccc");
        }
        if ($("#proveedor option:selected").val() > 0) {
            $('#proveedor').css("border", "1px solid #cccccc");
        }
        if ($("#Grupo option:selected").val() > 0) {
            $('#Grupo').css("border", "1px solid #cccccc");
        }


        if ($("#Entidad option:selected").val() == 0) {
            if ($("#Entidad option:selected").val() > 0) {
                result = true;
            }
        } if ($("#Entidad option:selected").val() == 1) {
            if ($("#empresa option:selected").val() > 0) {
                result = true;
            }
        } if ($("#Entidad option:selected").val() == 2) {
            if ($("#empresaDep option:selected").val() > 0) {
                if ($("#Departamento option:selected").val() > 0) {
                    result = true;
                }
            }
        } if ($("#Entidad option:selected").val() == 3) {
            if ($("#empresaEmpleado option:selected").val() > 0) {
                if ($("#Empleado option:selected").val() > 0) {
                    result = true;
                }
            }
        } if ($("#Entidad option:selected").val() == 1002) {
            if ($("#proveedor option:selected").val() > 0) {
                result = true;
            }
        } if ($("#Entidad option:selected").val() == 1003) {
            if ($("#Grupo option:selected").val() > 0) {
                result = true;
            }
        }

        return result;

    }
    //Fin Para compartir


    function Eliminar(id) {
        swal({
            title: "Eliminación de Archivos",
            text: "¿Está seguro de querer eliminar este archivo?",
            icon: "error",
            buttons: {
                Si: {
                    text: "Sí, eliminar",
                    value: "si"

                },
                cancel: "Cancelar"
            },
            dangerMode: true,
        })
            .then((willDelete) => {

                switch (willDelete) {

                    case "si":
                        SeguroEliminarArchivo(id);
                        break;
                }
            });
    }

    function SeguroEliminarArchivo(id) {

        var obj = {};
        obj['Id'] = id;

        var jsonObject = {
            "documento": obj
        };

        $.ajax({
            url: "@Url.Action("QuitarArchivo", "Documentos")",
            data: JSON.stringify(jsonObject),
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {

                    swal({
                        title: "Documento Eliminado !",
                        text: " ",
                        icon: "success",
                        button: "Aceptar",
                    }).then((value) => {
                        location.reload();
                    });
            },
            error: function (resultado) {
                console.log(resultado);
                alert("Error funcion ");
            }
        });
    }

    function Selecionar() {
        var d = document.getElementById("Entidad");
        var display = d.options[d.selectedIndex].text
        $("#txtvalue1").text('hola');
        document.getElementById("txtvalue1").value = display;
        document.getElementById("txtvalue2").value = display;
        document.getElementById("txtvalue3").value = display;
        document.getElementById("txtvalue4").value = display;
        document.getElementById("txtvalue5").value = display;

        $("#empresa").val("0");
        $("#empresaDep").val("0");
        $("#Departamento").val("0");
        $("#empresaEmpleado").val("0");
        $("#Empleado").val("0");
        $("#proveedor").val("0");
        $("#EmpresaGrupo").val("0");

    }

    function mostrar1() {

        let txtvalue = document.getElementById("txtvalue1").value;

        if (txtvalue === "Empresas") {
            $("#Empresahide").show();
        } else {
            $("#Empresahide").hide();
        }
    }

    function mostrar2() {

        let txtvalue = document.getElementById("txtvalue2").value;

        if (txtvalue === "Departamentos") {
            $("#DepartamentoHide").show();
        } else {
            $("#DepartamentoHide").hide();
        }
    }

    function mostrar3() {

        let txtvalue = document.getElementById("txtvalue3").value;

        if (txtvalue === "Empleados") {
            $("#EmpleadosHide").show();
        } else {
            $("#EmpleadosHide").hide();
        }
}

    function mostrar4() {

        let txtvalue = document.getElementById("txtvalue4").value;

        if (txtvalue === "Provedores") {
                $("#Provedorhide").show();
            } else {
                $("#Provedorhide").hide();
        }
    }

    function mostrarGrupos() {

        let txtvalue = document.getElementById("txtvalue5").value;

        if (txtvalue === "Grupos") {
            $("#GruposHide").show();
        } else {
            $("#GruposHide").hide();
        }
    }



    function ConsultaDepartamento (Id){

        $('#Departamento').empty();

        var obj = {};
        obj['Id'] = Id;
        var jsonObject = {
            "Cat_ListadoDepartamentos": obj
        };

        $.ajax({
            url: "@Url.Action("Departamento_Listar", "Documentos")",
            type: "POST",
            data: JSON.stringify(jsonObject),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            error: function (resultado) {
                alert("MANDAR MENSAJE SE ERROR");

                var option = $(document.createElement('option'));
                option.text("Seleccionar");
                option.val(0);

                $("#Departamento").append(option);
            },
            success: function (resultado) {



                    var option = $(document.createElement('option'));

                    option.text("Seleccionar");
                    option.val(0);


                    $("#Departamento").append(option);

                    $(resultado).each(function () {
                    var option = $(document.createElement('option'));
                    option.text(this.Nombre);
                    option.val(this.Id);

                        $("#Departamento").append(option);

                    });

            }
        });
    }

    function ConsultaGrupos(Id) {
        $('#Grupo').empty();

        var obj = {};
        obj['Id'] = Id;
        var jsonObject = {
            "Grupo": obj
        };

        $.ajax({
            url: "@Url.Action("Grupo_Listar", "Documentos")",
            type: "POST",
            data: JSON.stringify(jsonObject),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            error: function (resultado) {
                alert("MANDAR MENSAJE SE ERROR");

                var option = $(document.createElement('option'));
                option.text("Seleccionar");
                option.val(0);

                $("#Grupo").append(option);
            },
            success: function (resultado) {

                var option = $(document.createElement('option'));

                option.text("Seleccionar");
                option.val(0);


                $("#Grupo").append(option);

                $(resultado).each(function () {
                var option = $(document.createElement('option'));
                option.text(this.Nombre);
                option.val(this.Id);

                    $("#Grupo").append(option);

                });

            }
        });

    }

    function ConsultaUsuario (Id){

        $('#Empleado').empty();

        var obj = {};
        obj['IdEntidad'] = Id;
        var jsonObject = {
            "lisUser": obj
        };


        $.ajax({
            url: "@Url.Action("User_Listar", "Documentos")",
            type: "POST",
            data: JSON.stringify(jsonObject),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            error: function (resultado) {
                alert("MANDAR MENSAJE SE ERROR");

                var option = $(document.createElement('option'));
                option.text("Seleccionar");
                option.val(0);

                $("#Empleado").append(option);
            },
            success: function (resultado) {

                    var option = $(document.createElement('option'));

                    option.text("Seleccionar");
                    option.val(0);


                    $("#Empleado").append(option);

                    $(resultado).each(function () {
                    var option = $(document.createElement('option'));
                    option.text(this.Nombre);
                    option.val(this.Id);

                        $("#Empleado").append(option);

                    });

            }
        });
    }



    function Ruta(Id) {
        var obj = {};

        obj['UrlVaible'] = Id;

        var jsonObject = {
            "URL": obj
        };

        $.ajax({
            type: "POST",
            url: "@Url.Action("URL_Cifrar", "URLS")",
            async: false,
            data: JSON.stringify(jsonObject),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                window.location.href = '@Url.Action("EditarCustodia", "Documentos")?Id=' + result.Url;
            },
            error: function () {
                alert("intentalo mas tarde");
            }
        });


    }

    function VerDetalle(Id) {

        var obj = {};

        obj['UrlVaible'] = Id;

        var jsonObject = {
            "URL": obj
        };

        $.ajax({
            type: "POST",
            url: "@Url.Action("URL_Cifrar", "URLS")",
            async: false,
            data: JSON.stringify(jsonObject),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                window.location.href = '@Url.Action("VistaDetalle", "Documentos")?Id=' + result.Url;
            },
            error: function () {
                alert("intentalo mas tarde");
            }
        });

    }


    //INICIO PRESTAR
    function Prestar(id) {

        $('#ModalPrestar').modal('show');
        ListarPrestarPorId(id);
    }

    function ListarPrestarPorId(id) {
    var obj = {};
    obj['Id'] = id;

    var jsonObject = {
        "list_Doc": obj
    };

    $.ajax({
        url: "@Url.Action("SeleccionarPorId", "Documentos")",
        data: JSON.stringify(jsonObject),
        type: "POST",
        contentType: "application/json",
        dataType: "json",

        success: function (resultado) {
            $('#IdPrestar').val(resultado[0].Id);
            $('#PrestarTitulo').text('Prestar Documento: ' + resultado[0].Nombre);
        },
        error: function (resultado) {
            alert("Error funcion listar  prestar por ID ");
        }
    });
    }

    function GuardarPrestar() {
        if (validaPrestrar()) {
            $("#BtnGPrestar").prop('disabled', true);

            var obj = {};
            obj['IdDocumento'] = $("#IdPrestar").val();
            obj['IdUsuario'] = $("#EmpleadoP option:selected").val();
            obj['fecha'] = $("#FechaPublicacionP").val();

            var jsonObject = {
                "notificationId": obj
            };
            $.ajax({
                type: "POST",
                url: "@Url.Action("Prestar", "Documentos")",
                async: false,
                data: JSON.stringify(jsonObject),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    $("#BtnclosePrestar").trigger("click");
                    if (data.Id == 1) {
                        swal({
                            title: "Documento Prestado. !",
                            text: " ",
                            icon: "success",
                            button: "Aceptar",
                        }).then((value) => {
                            location.reload();
                        });

                    }
                    else {
                        swal({
                            title: "Gestión Documental (ERROR)",
                            text: 'El Documento que intentas Prestar esta compartido con el mismo usuario.',
                            icon: "warning",
                            button: "Aceptar",
                        });
                    }

                }
            });
            $("#BtnGPrestar").prop('disabled', false);

        } else {
            $.notify("Completa el formulario.", "error");
        }
    }

    function validaPrestrar() {
        var result = false;


        $('#empresaEmpleadoP').css("border", "1px solid #ff0049");
        $('#EmpleadoP').css("border", "1px solid #ff0049");
        $('#FechaPublicacionP').css("border", "1px solid #ff0049");


        if ($("#empresaEmpleadoP option:selected").val() > 0) {
            $('#empresaEmpleadoP').css("border", "1px solid #cccccc");
        }
        if ($("#EmpleadoP option:selected").val() > 0) {
            $('#EmpleadoP').css("border", "1px solid #cccccc");
        }
        if ($('#FechaPublicacionP').val().length > 0) {
            $('#FechaPublicacionP').css("border", "1px solid #cccccc");
        }

        if ($("#empresaEmpleadoP option:selected").val() > 0) {
            if ($("#EmpleadoP option:selected").val() > 0) {
                if ($('#FechaPublicacionP').val().length > 0) {
                    result = true;
                }
            }
        }


        return result;

    }

    function ConsultaUsuarioP (Id){

        $('#EmpleadoP').empty();

        var obj = {};
        obj['IdEntidad'] = Id;
        var jsonObject = {
            "lisUser": obj
        };

    $.ajax({
        url: "@Url.Action("User_Listar", "Documentos")",
        type: "POST",
        data: JSON.stringify(jsonObject),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        error: function (resultado) {
            alert("MANDAR MENSAJE SE ERROR");

            var option = $(document.createElement('option'));
            option.text("Seleccionar");
            option.val(0);

            $("#EmpleadoP").append(option);
        },
        success: function (resultado) {



                var option = $(document.createElement('option'));

                option.text("Seleccionar");
                option.val(0);


                $("#EmpleadoP").append(option);

                $(resultado).each(function () {
                var option = $(document.createElement('option'));
                option.text(this.Nombre);
                option.val(this.Id);

                    $("#EmpleadoP").append(option);

                });

        }
    });
    }

    function devuelto(Id) {
        swal({
            title: "Prestamo de Documentos",
            text: "¿Está seguro de querer marcar este documento como devuelto?",
            icon: "info",
            buttons: {
                Si: {
                    text: "Sí",
                    value: "si"

                },
                cancel: "Cancelar"
            },
            dangerMode: true,
        })
            .then((willDelete) => {

                switch (willDelete) {

                    case "si":
                        var obj = {};
                        obj['Id'] = Id;

                        var jsonObject = {
                            "documento": obj
                        };
                        $.ajax({
                            url: "@Url.Action("DevolverDoc", "Documentos")",
                            data: JSON.stringify(jsonObject),
                            type: "POST",
                            contentType: "application/json",
                            dataType: "json",
                            success: function (data) {

                                swal({
                                    title: "Documento devuelto !",
                                    text: " ",
                                    icon: "success",
                                    button: "Aceptar",
                                }).then((value) => {
                                    location.reload();
                                });
                            },
                            error: function (resultado) {
                                alert("Error funcion ");
                            }
                        });
                    break;
                }
            });
    }

    function MoreInfo(Id) {
        if (validacompartir()) {

            $('#ModalCompartido').modal('show');

            var obj = {};
            obj['IdDocumento'] = $("#Idcompartir").val();
            obj['IdEntidad'] = $("#Entidad option:selected").val();

            var entidad = $("#Entidad option:selected").text();


            if (entidad == "Empresas") {
                obj['IdAsignacion'] = $("#empresa option:selected").val();
            }
            else if (entidad == "Departamentos") {
                obj['IdAsignacion'] = $("#Departamento option:selected").val();
            } else if (entidad == "Empleados") {
                obj['IdAsignacion'] = $("#Empleado option:selected").val();
            } else if (entidad == "Provedores") {
                obj['IdAsignacion'] = $("#proveedor option:selected").val();
            }
            else if (entidad == "Grupos") {
                obj['IdAsignacion'] = $("#Grupo option:selected").val();
            }


            var jsonObject = {
                "list_User": obj
            };

            //console.log(jsonObject);

            $.ajax({
                url: "@Url.Action("UsuarioPosCompartir", "Documentos")",

                data: JSON.stringify(jsonObject),
                type: "POST",
                contentType: "application/json",
                dataType: "json",

                success: function (resultado) {
                    $("#Btnclosecomparto").trigger("click");

                    tabla(resultado);


                },
                error: function (resultado) {
                    alert("Error funcion listar compartir por ID ");
                }
            });

            function tabla(datos) {
                var table = $('#TableDocsCompartido').DataTable();
                table.destroy();

           /*     $('#TableDocsCompartido').destroy();*/

                Contenido.innerHTML = "";
                for (let valor of datos) {

                    Contenido.innerHTML += `

                     <tr>
                        <th>${valor.Nombre}</th>
                        <th>${valor.EMail}</th>

                    </tr>`
                }



                $('#TableDocsCompartido').DataTable({

                    pageLength: 5,
                    lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todas']],
                    language: {
                        url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/es-MX.json'
                    }
                });
            }
        }
    }

    $('#menuDocumentos').addClass("active pcoded-trigger");
    $('#visaulizarDocumento').addClass("active");


    ////FUNCION NUEVA
     function SubirDoc(Id,Version) {
        $('#ModalSubida').modal('show');
        IdTemporal = null;
        IdTemporal = Id;
        IdVersion = null;
        IdVersion = Version;
    }


     //FUNCION QUE CARGA EDITABLE
    function BtnCargarWord() {
        $("#fileInputword").click();
    };
    $('#fileInputword').change(function () {
        var fileInput = document.getElementById('fileInputword');

        if (fileInput.files.length > 0) {
            for (i = 0; i < fileInput.files.length; i++) {
                var ext = fileInput.files[i].name.split('.').pop();
                Extencion = fileInput.files[i].name.split('.').pop();

                // Convertimos en minúscula porque la extensión del archivo puede estar en mayúscula
                ext = ext.toLowerCase();

                if (ext == 'docx' || ext == 'pptx' || ext == 'xlsx') {

                    Carga = true;
                } else {
                    Carga = false;
                    Formato = ext;
                    break;
                }
            }

            for (i = 0; i < fileInput.files.length; i++) {
                var filesize = ((fileInput.files[i].size / 1024) / 1024).toFixed(4);

                if (filesize < 10) {
                    CargaTam = true;
                } else {
                    CargaTam = false;
                    Tam = filesize;
                    break;
                }
            }

            if (Carga) {
                if (CargaTam) {

                    $("#BtnCargarWord").prop('disabled', true);
                    var formData = new FormData();

                    for (i = 0; i < fileInput.files.length; i++) {
                        formData.append(fileInput.files[i].name, fileInput.files[i]);
                    }

                    $.ajax({
                        url: '/api/FileAPI/SubirWord',
                        type: 'POST',
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (ListDocumentos) {
                            $("#fileProgress").hide();
                            $("#BtnCargarWord").prop('disabled', false);

                            CargaDocumentoword(ListDocumentos);

                        },
                        xhr: function () {

                            var fileXhr = $.ajaxSettings.xhr();
                            if (fileXhr.upload) {
                                $("progress").show();
                                fileXhr.upload.addEventListener("progress", function (e) {
                                    if (e.lengthComputable) {
                                        $("#fileProgress").attr({
                                            value: e.loaded,
                                            max: e.total
                                        });
                                    }
                                }, false);
                            }
                            return fileXhr;
                        }
                    });


                } else {
                    swal({
                        title: "Intentas cargar un archivo muy pesado: " + Tam + " MG",
                        text: "Límite permitido 10 MG",
                        icon: "warning",
                        button: "Aceptar",
                    });
                }
            } else {
                swal({
                    title: "Intentas cargar un formato no permitido: " + Formato,
                    text: "Formato de documentos permitidos: .docx, .pptx, .xlsx ",
                    icon: "warning",
                    button: "Aceptar",
                });
            }

        } else {
            $("#BtnCargarWord").prop('disabled', false);
            $.notify({
                message: "Selecciona un archivo."
            }, {
                type: 'danger',
                allow_dismiss: false,
                animate: {
                    enter: 'animated rollIn',
                    exit: 'animated rollOut'
                }
            });
        }
    });
    function CargaDocumentoword(ListDocumentos) {

        $.ajax({
            type: "POST",
            url: "@Url.Action("CargaDocumentosword", "Documentos")",
            async: false,
            data: JSON.stringify(ListDocumentos),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (Contenido) {
                swal({
                    title: "Documento cargado. !",
                    text: " ",
                    icon: "success",
                    button: "Aceptar",
                })
	        },
            error: function (Contenido) {

                $.notify("Completa el formulario.", "error");
            }
        });
    }
     function ValidaDocumentoWord() {
        var result = false;

        $.ajax({
            type: "POST",
            url: "@Url.Action("ConsultaDocumentosSesionWord", "Documentos")",
            async: false,
            data: "",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (respuesta) {
                if (respuesta.length > 0) {
                    result = true;
                }
            },
            error: function () {
                Error();
            }
        });

        return result;
    }

     //Funcion para cargar documento
    function BtnCargarPDF() {
        $("#fileInput2").click();
    };
    $('#fileInput2').change(function () {
        var fileInput = document.getElementById('fileInput2');

        if (fileInput.files.length > 0) {
            for (i = 0; i < fileInput.files.length; i++) {
                var ext = fileInput.files[i].name.split('.').pop();
                Extencion = fileInput.files[i].name.split('.').pop();

                // Convertimos en minúscula porque la extensión del archivo puede estar en mayúscula
                ext = ext.toLowerCase();

                if (ext == 'pdf' || ext == 'pdf' || ext == 'pdf') {

                    Carga = true;
                } else {
                    Carga = false;
                    Formato = ext;
                    break;
                }
            }

            for (i = 0; i < fileInput.files.length; i++) {
                var filesize = ((fileInput.files[i].size / 1024) / 1024).toFixed(4);

                if (filesize < 10) {
                    CargaTam = true;
                } else {
                    CargaTam = false;
                    Tam = filesize;
                    break;
                }
            }

            if (Carga) {
                if (CargaTam) {

                    $("#BtnCargarPDF").prop('disabled', true);
                    var formData = new FormData();

                    for (i = 0; i < fileInput.files.length; i++) {
                        formData.append(fileInput.files[i].name, fileInput.files[i]);
                    }

                    $.ajax({
                        url: '/api/FileAPI/UploadFilesArticulo',
                        type: 'POST',
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (ListDocumentos) {
                            $("#fileProgress").hide();
                            $("#BtnCargarPDF").prop('disabled', false);

                            CargaDocumento(ListDocumentos);

                        },
                        xhr: function () {

                            var fileXhr = $.ajaxSettings.xhr();
                            if (fileXhr.upload) {
                                $("progress").show();
                                fileXhr.upload.addEventListener("progress", function (e) {
                                    if (e.lengthComputable) {
                                        $("#fileProgress").attr({
                                            value: e.loaded,
                                            max: e.total
                                        });
                                    }
                                }, false);
                            }
                            return fileXhr;
                        }
                    });


                } else {
                    swal({
                        title: "Intentas cargar una archivo muy pesada: " + Tam + " MG",
                        text: "Límite permitido 10 MG",
                        icon: "warning",
                        button: "Aceptar",
                    });
                }
            } else {
                swal({
                    title: "Intentas cargar un formato no permitido: " + Formato,
                    text: "Formato de archivos permitidos: .pdf ",
                    icon: "warning",
                    button: "Aceptar",
                });
            }

        } else {
            $("#BtnCargarPDF").prop('disabled', false);
            $.notify({
                message: "Selecciona un archivo."
            }, {
                type: 'danger',
                allow_dismiss: false,
                animate: {
                    enter: 'animated rollIn',
                    exit: 'animated rollOut'
                }
            });
        }
    });
    function CargaDocumento(ListDocumentos) {

        $.ajax({
            type: "POST",
            url: "@Url.Action("CargaDocumentos", "Documentos")",
            async: false,
            data: JSON.stringify(ListDocumentos),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (Contenido) {
                swal({
                    title: "Documento cargado. !",
                    text: " ",
                    icon: "success",
                    button: "Aceptar",
                })
	        },
            error: function (Contenido) {
                alert("error")
            }
        });
    }
    function ValidaDocumento() {
        var result = false;

        $.ajax({
            type: "POST",
            url: "@Url.Action("ConsultaDocumentosSesion", "Documentos")",
            async: false,
            data: "",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (respuesta) {
                if (respuesta.length > 0) {
                    result = true;
                }
            },
            error: function () {
                Error();
            }
        });

        return result;
    }



    function GuardarDocsEditar() {
         var obj = {};
            obj['Id'] = IdTemporal;

            var jsonObject = {
                "Doc": obj
            };

            $.ajax({
                url: "@Url.Action("HabilitarPermisos", "Documentos")",
                data: JSON.stringify(jsonObject),
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                success: function (data) {

                    GuardarDocumentosEdit();
                },
                error: function (resultado) {


                }
            });
    }
    function GuardarDocumentosEdit() {

        if (ValidaDocumento()) {
            if (ValidaDocumentoWord()) {


                $("#BtnGuardarEdit").prop('disabled', true);
                IdVersion++;
                var obj = {};
                obj['Version'] = IdVersion;
                obj['Id'] =   IdTemporal;
                var jsonObject = {
                    "nuevoDocumento": obj
                };
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Documentos_Actualizar", "Documentos")",
                    async: false,
                    data: JSON.stringify(jsonObject),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        switch (data.Id) {
                            case -1:

                                swal({
                                    title: "El Documento que intentas agregar ya se encuentra registrado .",
                                    text: '',
                                    icon: "warning",
                                    button: "Aceptar",
                                });


                                break;
                            case 0:
                                swal({
                                    title: "Algo ocurrió documento no registrado !",
                                    text: '',
                                    icon: "warning",
                                    button: "Aceptar",
                                });
                                break;

                            default:
                            // code block
                        }
                        if (data.Id > 0) {
                              swal({
                                title: "Documento Actualizado!",
                                text: "",
                                icon: "success",
                                button: "Aceptar",
                            }).then((result) => {
                                // Si se apretó el botón de "Aceptar" o se cerró el modal
                                if (result) {
                                    // Recargar la página completa
                                    location.reload();
                                }
                            });
                        }
                    }
                });
                $("#BtnGuardarEdit").prop('disabled', false);
            }

            else {
                swal({
                    title: "Documento faltante",
                    text: ' Carga un documento editable para poder actualizar el archivo deseado',
                    icon: "warning",
                    button: "Aceptar"
                });
            }
        } else {
            swal({
                title: "Documento faltante",
                text: 'No has cargado ningun documento PDF',
                icon: "warning",
                button: "Aceptar"
            });
        }

        };


    </script>


