
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout _Administracion.cshtml";
}
<link rel="stylesheet" href="~/assets/dist/themes/proton/style.css" />


<style>
    /* Personalizar el estilo del menú contextual */
    .vakata-context,
    .vakata-context ul {
        background-color: #fff; /* Fondo blanco */
        border: 1px solid #ccc; /* Borde gris */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    }

        .vakata-context a {
            padding: 8px 12px;
            color: #333; /* Color de texto oscuro */
            transition: background-color 0.3s ease;
            display: block;
        }

            .vakata-context a:hover {
                background-color: #f0f0f0; /* Cambio de color al pasar el ratón */
            }

        /* Estilo específico para los íconos en el menú contextual */
        .vakata-context .vakata-contextmenu-item .vakata-contextmenu-icon {
            margin-right: 8px;
        }

        /* Estilo específico para la línea divisoria entre elementos del menú */
        .vakata-context .vakata-contextmenu-item .vakata-contextmenu-divider {
            height: 1px;
            background-color: #ccc;
            margin: 6px 0;
        }

    .fa-folder:before {
        color: #f3bb22;
        font-size: 16px;
    }
</style>

<div class="@*pcoded-content*@">
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10"> Directorio</h5>
                        <p class="m-b-0"> </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="/Administracion/PrincipalA"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#!">Inicio</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-body">
    <div class="page-wrapper">
        <!-- Page-body start -->
        <div class="page-body">
            <div class="row">
                <div class="col-xl-6 col-md-12" id="Directorio">
                    <div class="card table-card">
                        <div class="card-header">
                            <h5>DIRECTORIO</h5>
                        </div>

                        <div class="row justify-content-around">

                            <div class="col-11 p-15 p-b-0">
                                <form class="form-material" onsubmit="return false;">
                                    <div class="form-group form-primary">
                                        <input id="plugins4_q" type="text" name="footer-email" class="form-control" required="">
                                        <span class="form-bar"></span>
                                        <label class="float-label"><i class="fa fa-search m-r-10"></i>Buscar</label>
                                    </div>
                                </form>
                            </div>

                        </div>

                        <div class="card-body">
                            <div id="jstree">
                                @Html.Raw(ViewBag.carpetas);

                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-xl-6 col-md-12" id="Directorio">
                    <div class="card table-card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <h5 id="Titulo"></h5>
                                </div>
                                <div class="col-4">
                                    <div id="vistafull" style="margin-left: auto;"></div>
                                </div>

                            </div>

                        </div>

                        <div style="width: 100%; height: 92vh">

                            <iframe id="iframepdf" title="webviewer" frameborder="0" width="100%" height="100%"></iframe>

                        </div>

                    </div>
                </div>

            </div>


        </div>
    </div>
</div>




<script src="~/assets/js/jquery/jquery.min.js"></script>


@if (ViewBag.usuario.IdRol == 3)
{
    <script>
          $(function () {
            $('#jstree').jstree({

                'core': {
                    'themes': {
                        'name': 'proton',
                        'responsive': true
                    },
                    'check_callback': true,
                },

                'plugins': ['contextmenu', 'dnd', 'state', 'wholerow', 'search'],

                 "contextmenu": {
                     items: function (node) {
                         // Determinar si el nodo es una carpeta o un documento
                         var isDocument = node.icon === 'fa fa-file-text';

                         // Menú contextual para carpetas
                         var folderMenu = {
                            "ccp": false,
                            "create": {
                                "label": "Crear carpeta",
                                "action":
                                    function node_create() {
                                        var ref = $("#jstree").jstree(true);
                                        var sel = ref.get_selected();

                                        if (!sel.length) {
                                            alert("Seleccione primero un nodo");
                                            return;
                                        }
                                        sel = sel[0];
                                        sel = ref.create_node(sel);

                                        var nuevo = $("#jstree").jstree(true).get_node(sel);

                                        var obj = {
                                            "Nombre": nuevo.text, "IdPadre": nuevo.parent, "Idtemporal": nuevo.id
                                        };

                                        var jsonObject = {
                                            "nuevasubClas": obj
                                        };


                                         $.ajax({
                                            type: "POST",
                                            url: "@Url.Action("RegistrarSubClas", "Documentos")",
                                            async: false,
                                            data: JSON.stringify(jsonObject),
                                            contentType: "application/json; charset=utf-8",
                                            dataType: "json",
                                            success: function (data) {

                                                $("#BtnSubclas").trigger("click");

                                                if (data.Id == 1) {


                                                    if (sel) {
                                                        ref.edit(sel);
                                                    }
                                                }
                                                else {

                                                 ref.delete_node(sel);
                                                }

                                            }

                                         });


                                    }
                            },
                            "renombrar": {
                                "label": "Renombrar Carpeta",
                                "action": function node_rename() {

                                    var ref = $("#jstree").jstree(true);
                                    var sel = ref.get_selected();
                                    if (!sel.length) {
                                        alert("Seleccione primero un nodo");
                                        return;
                                    }
                                    sel = sel[0];
                                    ref.edit(sel);
                                }
                            },
                            "eliminar": {
                                "label": "Eliminar Carpeta",
                                "action": function node_delete() {
                                    var ref = $("#jstree").jstree(true);
                                    var sel = ref.get_selected();

                                    var obj = { "Idtemporal": sel[0] };
                                    var jsonObject = {
                                        "carpeta": obj
                                    };

                                    $.ajax({
                                        type: "POST",
                                        url: "@Url.Action("EliminarCarpeta", "Documentos")",
                                        async: false,
                                        data: JSON.stringify(jsonObject),
                                        contentType: "application/json; charset=utf-8",
                                        dataType: "json",
                                        success: function (data) {


                                            if (data.Id == 1) {
                                                sel = sel[0];

                                                ref.delete_node(sel);
                                                $.notify("Carpeta eliminada!", "success");
                                            }
                                            else {
                                                swal({
                                                    title: "Esta carpeta no se puede eliminar ya que existe información que depende de esta.",
                                                    text: '',
                                                    icon: "warning",
                                                    button: "Aceptar",
                                                });
                                            }

                                        }

                                    });



                                }
                             },
                            "carpetaRoot": {
                                 "label": "Crear carpeta principal",
                                 "action": function () {
                                     $("#jstree").jstree("create_node", null, null, "last", function (node) {

                                         var obj = {
                                             "Nombre": node.text, "Idtemporal": node.id
                                         };

                                         var jsonObject = {
                                             "nuevaClas": obj
                                         };
                                         $.ajax({
                                            type: "POST",
                                            url: "@Url.Action("RegistrarClas", "Documentos")",
                                            async: false,
                                            data: JSON.stringify(jsonObject),
                                            contentType: "application/json; charset=utf-8",
                                            dataType: "json",
                                            success: function (data) {

                                                if (data.Id == 1) {


                                                }
                                                else {

                                                    $.notify("El nombre de esta carpeta ya esta en uso renombrela.", "error");
                                                }

                                            }
                                         });

                                         this.edit(node);

                                     });
                                 }
                             }
                         };

                         // Menú contextual para documentos
                         var documentMenu = {
                             "DescargarEditable": {
                                 "label": "Descargar editable",
                                 "action": function () {
                                  var ref = $("#jstree").jstree(true);
                                  var sel = ref.get_selected();

                                  var obj = { "Id": sel[0] };
                                  var jsonObject = {
                                      "list_Doc": obj
                                     };

                                  $.ajax({
                                        url: "@Url.Action("SeleccionarPorId", "Documentos")",
                                        data: JSON.stringify(jsonObject),
                                        type: "POST",
                                        contentType: "application/json",
                                        dataType: "json",
                                        success: function (data) {
                                            var archivo = data[0].editable;
                                            var nombre = data[0].Nombre;
                                            window.location.href = "/Documentos/descargar?doc=" + encodeURIComponent(archivo) + "&nom=" + encodeURIComponent(nombre);                                        },
                                        error: function (resultado) {
                                            console.log(resultado);
                                            alert("Error funcion ");
                                        }
                                    });

                                                                                                  }
                             },
                             "eliminarDocumento": {
                                 "label": "Eliminar Documento",
                                 "action": function node_delete() {
                                    var ref = $("#jstree").jstree(true);
                                    var sel = ref.get_selected();

                                    var obj = { "Id": sel[0] };
                                    var jsonObject = {
                                        "documento": obj
                                    };
                                     swal({
                                         title: "Eliminación de Archivos",
                                         text: "¿Está seguro de querer eliminar este archivo?",
                                         icon: "error",
                                         buttons: {
                                             Si: {
                                                 text: "Sí, eliminar",
                                                 value: "si"

                                             },
                                             cancel: "Cancelar"
                                         },
                                         dangerMode: true,
                                     })
                                         .then((willDelete) => {

                                             switch (willDelete) {

                                                 case "si":
                                                  $.ajax({
                                                        url: "@Url.Action("QuitarArchivo", "Documentos")",
                                                        data: JSON.stringify(jsonObject),
                                                        type: "POST",
                                                        contentType: "application/json",
                                                        dataType: "json",
                                                        success: function (data) {

                                                                swal({
                                                                    title: "Documento Eliminado !",
                                                                    text: " ",
                                                                    icon: "success",
                                                                    button: "Aceptar",
                                                                }).then((value) => {
                                                                    sel = sel[0];

                                                                    ref.delete_node(sel);
                                                                    $.notify("Documento eliminado!", "success");
                                                                });
                                                        },
                                                        error: function (resultado) {
                                                            console.log(resultado);
                                                            alert("Error funcion ");
                                                        }
                                                    });
                                                                                             break;
                                             }
                                         });

                                 }
                             }
                         };

                          // Verificar si es un documento y si tiene un archivo editable antes de agregar al menú
                            if (isDocument) {
                                var ref = $("#jstree").jstree(true);
                                var sel = ref.get_selected();
                                var obj = { "Id": sel[0] };
                                var jsonObject = {
                                    "list_Doc": obj
                                };

                                // Verificar si el documento tiene un archivo editable antes de agregar al menú
                                $.ajax({
                                    url: "@Url.Action("SeleccionarPorId", "Documentos")",
                                    data: JSON.stringify(jsonObject),
                                    type: "POST",
                                    contentType: "application/json",
                                    dataType: "json",
                                    async: false,
                                    success: function (data) {
                                        if (data[0].editable) {
                                            documentMenu["DescargarEditable"] = documentMenu["DescargarEditable"];
                                        } else {
                                            delete documentMenu["DescargarEditable"];
                                        }
                                    },
                                    error: function (resultado) {
                                        console.log(resultado);
                                        alert("Error en la verificación del archivo editable.");
                                    }
                                });
                            }

                         // Devolver el menú adecuado según el tipo de nodo
                         return isDocument ? documentMenu : folderMenu;
                     }
                 },

            });

            $('#jstree').on('rename_node.jstree', function (e, data) {

                const node = data.node;
                const newName = data.text.toUpperCase();
                node.text = newName;

                var obj = { "Nombre": data.node.text, "Idtemporal": data.node.id, "IdPadre": data.node.parent };


                var jsonObject = {
                    "carpeta": obj
                };

                 $.ajax({
                    type: "POST",
                    url: "@Url.Action("Renombrar", "Documentos")",
                    async: false,
                    data: JSON.stringify(jsonObject),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                     success: function (data) {

                         if (data.Id == 1) {

                             $.notify("Cambios Realizados.", "success");
                         }
                         else if (data.Id == 2) {

                                 $.notify("Elemento no editable.", "error");
                                 ref.edit(sel);

                              } else {
                                 $.notify("Error al procesar tu solicitud.", "error");
                                 ref.edit(sel);
                              }

                     }

                });
            });
            $('#jstree').bind('move_node.jstree', function (e, data) {


                if (data.node.parent == '#') {
                    var obj = { "Idtemporal": data.node.id, "IdPadre":  '0' };
                    var jsonObject = {
                        "NdN": obj
                    };
                }
                else {
                    var obj = { "Idtemporal": data.node.id, "IdPadre": data.node.parent };
                    var jsonObject = {
                        "NdN": obj
                    };
                }

                if (data.node.icon == "fa fa-file-text") {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("MoverDocumento", "Documentos")",
                        async: false,
                        data: JSON.stringify(jsonObject),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {

                            $("#BtnSubclas").trigger("click");

                            if (data.Id == 1) {

                                $.notify("Documento Reubicado.", "success");
                            }
                            else {

                                $.notify("No es posible mover a esta ruta.", "error");
                            }

                        }

                    });
                } else {
                      $.ajax({
                        type: "POST",
                        url: "@Url.Action("MoverRutasDocumentos", "Documentos")",
                        async: false,
                        data: JSON.stringify(jsonObject),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {

                            $("#BtnSubclas").trigger("click");

                            if (data.Id == 1) {

                                $.notify("Carpeta Reubicada.", "success");
                            }
                            else {

                                $.notify("No es posible mover a esta ruta.", "error");
                            }

                        }

                    });
                }


            });

    });
    </script>
}
else if (ViewBag.usuario.IdRol == 1005)
{
<script>
          $(function () {
            $('#jstree').jstree({

                'core': {
                    'themes': {
                        'name': 'proton',
                        'responsive': true
                    },
                    'check_callback': true,
                },

                'plugins': ['contextmenu', 'dnd', 'state', 'wholerow', 'search'],

                 "contextmenu": {
                     items: function (node) {
                         // Determinar si el nodo es una carpeta o un documento
                         var isDocument = node.icon === 'fa fa-file-text';

                         // Menú contextual para carpetas
                         var folderMenu = {
                            "ccp": false,
                            "create": {
                                "label": "Crear carpeta",
                                "action":
                                    function node_create() {
                                        var ref = $("#jstree").jstree(true);
                                        var sel = ref.get_selected();

                                        if (!sel.length) {
                                            alert("Seleccione primero un nodo");
                                            return;
                                        }
                                        sel = sel[0];
                                        sel = ref.create_node(sel);

                                        var nuevo = $("#jstree").jstree(true).get_node(sel);

                                        var obj = {
                                            "Nombre": nuevo.text, "IdPadre": nuevo.parent, "Idtemporal": nuevo.id
                                        };

                                        var jsonObject = {
                                            "nuevasubClas": obj
                                        };


                                         $.ajax({
                                            type: "POST",
                                            url: "@Url.Action("RegistrarSubClas", "Documentos")",
                                            async: false,
                                            data: JSON.stringify(jsonObject),
                                            contentType: "application/json; charset=utf-8",
                                            dataType: "json",
                                            success: function (data) {

                                                $("#BtnSubclas").trigger("click");

                                                if (data.Id == 1) {


                                                    if (sel) {
                                                        ref.edit(sel);
                                                    }
                                                }
                                                else {

                                                 ref.delete_node(sel);
                                                }

                                            }

                                         });


                                    }
                            },
                            "renombrar": {
                                "label": "Renombrar Carpeta",
                                "action": function node_rename() {

                                    var ref = $("#jstree").jstree(true);
                                    var sel = ref.get_selected();
                                    if (!sel.length) {
                                        alert("Seleccione primero un nodo");
                                        return;
                                    }
                                    sel = sel[0];
                                    ref.edit(sel);
                                }
                            },
                            "eliminar": {
                                "label": "Eliminar Carpeta",
                                "action": function node_delete() {
                                    var ref = $("#jstree").jstree(true);
                                    var sel = ref.get_selected();

                                    var obj = { "Idtemporal": sel[0] };
                                    var jsonObject = {
                                        "carpeta": obj
                                    };

                                    $.ajax({
                                        type: "POST",
                                        url: "@Url.Action("EliminarCarpeta", "Documentos")",
                                        async: false,
                                        data: JSON.stringify(jsonObject),
                                        contentType: "application/json; charset=utf-8",
                                        dataType: "json",
                                        success: function (data) {


                                            if (data.Id == 1) {
                                                sel = sel[0];

                                                ref.delete_node(sel);
                                                $.notify("Carpeta eliminada!", "success");
                                            }
                                            else {
                                                swal({
                                                    title: "Esta carpeta no se puede eliminar ya que existe información que depende de esta.",
                                                    text: '',
                                                    icon: "warning",
                                                    button: "Aceptar",
                                                });
                                            }

                                        }

                                    });



                                }
                             },
                            "carpetaRoot": {
                                 "label": "Crear carpeta principal",
                                 "action": function () {
                                     $("#jstree").jstree("create_node", null, null, "last", function (node) {

                                         var obj = {
                                             "Nombre": node.text, "Idtemporal": node.id
                                         };

                                         var jsonObject = {
                                             "nuevaClas": obj
                                         };
                                         $.ajax({
                                            type: "POST",
                                            url: "@Url.Action("RegistrarClas", "Documentos")",
                                            async: false,
                                            data: JSON.stringify(jsonObject),
                                            contentType: "application/json; charset=utf-8",
                                            dataType: "json",
                                            success: function (data) {

                                                if (data.Id == 1) {


                                                }
                                                else {

                                                    $.notify("El nombre de esta carpeta ya esta en uso renombrela.", "error");
                                                }

                                            }
                                         });

                                         this.edit(node);

                                     });
                                 }
                             }
                         };

                         // Menú contextual para documentos
                         var documentMenu = {
                             //"renombrarDocumento": {
                             //    "label": "Renombrar Documento",
                             //    "action": function () {
                             //        // Lógica para renombrar documento
                             //    }
                             //},

                              "DescargarEditable": {
     "label": "Descargar editable",
     "action": function () {
      var ref = $("#jstree").jstree(true);
      var sel = ref.get_selected();

      var obj = { "Id": sel[0] };
      var jsonObject = {
          "list_Doc": obj
         };

      $.ajax({
            url: "@Url.Action("SeleccionarPorId", "Documentos")",
            data: JSON.stringify(jsonObject),
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                var archivo = data[0].editable;
                var nombre = data[0].Nombre;
                window.location.href = "/Documentos/descargar?doc=" + encodeURIComponent(archivo) + "&nom=" + encodeURIComponent(nombre);                                        },
            error: function (resultado) {
                console.log(resultado);
                alert("Error funcion ");
            }
        });

                                                                      }
 },
                             "eliminarDocumento": {
                                 "label": "Eliminar Documento",
                                 "action": function node_delete() {
                                    var ref = $("#jstree").jstree(true);
                                    var sel = ref.get_selected();

                                    var obj = { "Id": sel[0] };
                                    var jsonObject = {
                                        "documento": obj
                                    };
                                     swal({
                                         title: "Eliminación de Archivos",
                                         text: "¿Está seguro de querer eliminar este archivo?",
                                         icon: "error",
                                         buttons: {
                                             Si: {
                                                 text: "Sí, eliminar",
                                                 value: "si"

                                             },
                                             cancel: "Cancelar"
                                         },
                                         dangerMode: true,
                                     })
                                         .then((willDelete) => {

                                             switch (willDelete) {

                                                 case "si":
                                                  $.ajax({
                                                        url: "@Url.Action("QuitarArchivo", "Documentos")",
                                                        data: JSON.stringify(jsonObject),
                                                        type: "POST",
                                                        contentType: "application/json",
                                                        dataType: "json",
                                                        success: function (data) {

                                                                swal({
                                                                    title: "Documento Eliminado !",
                                                                    text: " ",
                                                                    icon: "success",
                                                                    button: "Aceptar",
                                                                }).then((value) => {
                                                                    sel = sel[0];

                                                                    ref.delete_node(sel);
                                                                    $.notify("Documento eliminado!", "success");
                                                                });
                                                        },
                                                        error: function (resultado) {
                                                            console.log(resultado);
                                                            alert("Error funcion ");
                                                        }
                                                    });
                                                                                             break;
                                             }
                                         });
                                    @*$.ajax({
                                        type: "POST",
                                        url: "@Url.Action("EliminarCarpeta", "Documentos")",
                                        async: false,
                                        data: JSON.stringify(jsonObject),
                                        contentType: "application/json; charset=utf-8",
                                        dataType: "json",
                                        success: function (data) {


                                            if (data.Id == 1) {
                                                sel = sel[0];

                                                ref.delete_node(sel);
                                                $.notify("Carpeta eliminada!", "success");
                                            }
                                            else {
                                                swal({
                                                    title: "Esta carpeta no se puede eliminar ya que existe información que depende de esta.",
                                                    text: '',
                                                    icon: "warning",
                                                    button: "Aceptar",
                                                });
                                            }

                                        }

                                    });*@



                                 }
                             }
                         };
                          // Verificar si es un documento y si tiene un archivo editable antes de agregar al menú
                            if (isDocument) {
       var ref = $("#jstree").jstree(true);
       var sel = ref.get_selected();
       var obj = { "Id": sel[0] };
       var jsonObject = {
           "list_Doc": obj
       };

       // Verificar si el documento tiene un archivo editable antes de agregar al menú
       $.ajax({
           url: "@Url.Action("SeleccionarPorId", "Documentos")",
           data: JSON.stringify(jsonObject),
           type: "POST",
           contentType: "application/json",
           dataType: "json",
           async: false,
           success: function (data) {
               if (data[0].editable) {
                   documentMenu["DescargarEditable"] = documentMenu["DescargarEditable"];
               } else {
                   delete documentMenu["DescargarEditable"];
               }
           },
           error: function (resultado) {
               console.log(resultado);
               alert("Error en la verificación del archivo editable.");
           }
       });
   }
                         // Devolver el menú adecuado según el tipo de nodo
                         return isDocument ? documentMenu : folderMenu;
                     }
                 },

            });

            $('#jstree').on('rename_node.jstree', function (e, data) {

                const node = data.node;
                const newName = data.text.toUpperCase();
                node.text = newName;

                var obj = { "Nombre": data.node.text, "Idtemporal": data.node.id, "IdPadre": data.node.parent };


                var jsonObject = {
                    "carpeta": obj
                };

                 $.ajax({
                    type: "POST",
                    url: "@Url.Action("Renombrar", "Documentos")",
                    async: false,
                    data: JSON.stringify(jsonObject),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                     success: function (data) {

                         if (data.Id == 1) {

                             $.notify("Cambios Realizados.", "success");
                         }
                         else if (data.Id == 2) {

                                 $.notify("Elemento no editable.", "error");
                                 ref.edit(sel);

                              } else {
                                 $.notify("Error al procesar tu solicitud.", "error");
                                 ref.edit(sel);
                              }

                     }

                });
            });
            $('#jstree').bind('move_node.jstree', function (e, data) {


                if (data.node.parent == '#') {
                    var obj = { "Idtemporal": data.node.id, "IdPadre":  '0' };
                    var jsonObject = {
                        "NdN": obj
                    };
                }
                else {
                    var obj = { "Idtemporal": data.node.id, "IdPadre": data.node.parent };
                    var jsonObject = {
                        "NdN": obj
                    };
                }

                if (data.node.icon == "fa fa-file-text") {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("MoverDocumento", "Documentos")",
                        async: false,
                        data: JSON.stringify(jsonObject),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {

                            $("#BtnSubclas").trigger("click");

                            if (data.Id == 1) {

                                $.notify("Documento Reubicado.", "success");
                            }
                            else {

                                $.notify("No es posible mover a esta ruta.", "error");
                            }

                        }

                    });
                } else {
                      $.ajax({
                        type: "POST",
                        url: "@Url.Action("MoverRutasDocumentos", "Documentos")",
                        async: false,
                        data: JSON.stringify(jsonObject),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {

                            $("#BtnSubclas").trigger("click");

                            if (data.Id == 1) {

                                $.notify("Carpeta Reubicada.", "success");
                            }
                            else {

                                $.notify("No es posible mover a esta ruta.", "error");
                            }

                        }

                    });
                }


            });

    });
</script>
}
else
{
    <script>
    $(function () {
            $('#jstree').jstree({

                'core': {
                    'themes': {
                        'name': 'proton',
                        'responsive': true
                    },
                    'check_callback': true,
                },

                'plugins': ['state', 'wholerow', 'search'],

            });
        });</script>
}

<script>
    $('#menuDocumentos').addClass("active pcoded-trigger");
    $('#Directorio').addClass("active");
    $(document).ready(function () {
        $('#Detalle').DataTable({

            pageLength: 5,
            lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todas']],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/es-MX.json'
            }
        });
    });

    function VerDetalle(Id) {
        var obj = {};

        obj['UrlVaible'] = Id;

        var jsonObject = {
            "URL": obj
        };

        $.ajax({
            type: "POST",
            url: "@Url.Action("URL_Cifrar","URLS")",
            async: false,
            data: JSON.stringify(jsonObject),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                window.location.href = '@Url.Action("VistaDetalleAdmin","Documentos")?Id='+result.Url;
            },
            error: function () {
                alert("intentalo mas tarde");
            }
        });
    }

function SeleccionarPorId(id) {
    var obj = {};
    obj['Id'] = id;

    var jsonObject = {
        "list_Doc": obj
    };

    $.ajax({
        url: "@Url.Action("SeleccionarPorId", "Documentos")",
        data: JSON.stringify(jsonObject),
        type: "POST",
        contentType: "application/json",
        dataType: "json",

        success: function (resultado) {
            // Actualiza el título del documento
            $('#Titulo').text('Documento: ' + resultado[0].Nombre);
            // Muestra el archivo PDF en el iframe
            $('#iframepdf').attr('src', '/DocumentosTemporales/' + resultado[0].NmArchivo + '#toolbar=0');

            // Crea el botón de vista completa
            var botonVistaCompleta = '<button class="btn waves-effect waves-light btn-info" onclick="vistaCompleta(' + id + ')"><i class="icofont icofont-eye-alt"></i>Vista Completa</button>';
            // Añade el botón al contenedor con el id 'vistafull'
            $('#vistafull').html(botonVistaCompleta);
        },
        error: function (resultado) {
            alert("Error de ejecución");
        }
    });
}

// Función que se ejecutará al hacer clic en el botón de "Vista Completa"
function vistaCompleta(Id) {

     var obj = {};

     obj['UrlVaible'] = Id;

     var jsonObject = {
         "URL": obj
     };

     $.ajax({
         type: "POST",
         url: "@Url.Action("URL_Cifrar","URLS")",
         async: false,
         data: JSON.stringify(jsonObject),
         contentType: "application/json; charset=utf-8",
         dataType: "json",
         success: function (result) {
            window.open('@Url.Action("Index", "PDF")?Id=' + result.Url, '_blank');
         },
         error: function () {
             alert("intentalo mas tarde");
         }
     });
}






    $(function () {
        var urlParams = new URLSearchParams(window.location.search);
        var nombreDocumento = decodeURIComponent(urlParams.get('Doc'));

        var campoBusqueda = $('#plugins4_q');
        if (nombreDocumento && nombreDocumento !== 'null') {
            campoBusqueda.val(nombreDocumento);

            $('#jstree').jstree(true).search(nombreDocumento);
        }

        campoBusqueda.keyup(function () {
            var v = $(this).val();
            $('#jstree').jstree(true).search(v);
        });
    });
</script>



@*<div class="row">
        <div class="col-xl-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Documentos en el sistema:  </h5>
                    <span>Detalle de documentos en el sistema y usuarios responsables</span>
                </div>

                <div class="card-block">

                    <div class="table-responsive">
                        <table id="Detalle" class="table  table-hover " style="width: 100%; cursor: pointer">
                            <thead style="background-color: #0d6efd">
                                <tr>

                                    <th style="color:white">Nombre</th>
                                    <th class="text-center" style="color:white">Usuario</th>
                                    <th class="text-center" style="color:white">Clasificacion</th>
                                    <th class="text-center" style="color:white">Detalle</th>

                                    <th style="display:none;" class="text-center" style="color:white">PalabrasClave</th>



                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                @foreach (var item in ViewBag.AdminDoc)
                                {

                                    <tr>
                                        <td><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;<a>@item.Nombre</a></td>
                                        <td class="text-center"><a>@item.NombreUsuario</a></td>
                                        <td class="text-center"><a>@item.Clasificacion</a></td>
                                        <td class="text-center"><a onclick="VerDetalle(@item.Id);"><i class="fa fa-info-circle f-20"></i></a></td>

                                        <td style="display:none;" class="text-center"><a>@item.PalabrasClave</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>*@