
@{
    Layout = "~/Views/Shared/_Layout _Administracion.cshtml";
}

<style>
    #gif-icon {
        max-width: 100%;
        max-height: 100%;
        margin: auto; /* Centra la imagen verticalmente y horizontalmente */
    }

    #gif-icon {
        display: none; /* Inicialmente oculto */
    }

        #gif-icon.block {
            display: block; /* Mostrar la imagen si la clase .block está presente */
        }

    .swal-overlay {
        z-index: 1060; /* Ajusta el z-index del swal */
    }

    .modal {
        z-index: 1050; /* Ajusta el z-index del modal */
    }

    .bg-c-white {
        background-color: #FFB6C1;
    }

</style>



<div class="@*pcoded-content*@">
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10"> BIENVENIDO</h5>
                        <p class="m-b-0"> </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="/Administracion/PrincipalA"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#!">Inicio</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="main-body">
    <div class="page-wrapper">
        <!-- Page-body start -->
        <div class="page-body">
            <div class="row">
                <!-- task, page, download counter  start -->
                <div class="col" id="MisDocumentos">
                    <a href="/Documentos/VisualizarDocumento">
                        <div class="card">
                            <div class="card-block">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h4 class="text-c-purple">
                                            @foreach (var item1 in ViewBag.Conteo)
                                            {
                                                @item1.MisDocumnetos
                                            }
                                        </h4>
                                        <h6 class="text-muted m-b-0">Mis Documentos cargados</h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        <i class="fa fa-file-text-o f-28"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-c-purple">
                                <div class="row align-items-center">
                                    <div class="col-9">
                                        <p class="text-white m-b-0"></p>
                                    </div>
                                    <div class="col-3 text-right">
                                        @*<i class="fa fa-line-chart text-white f-16"></i>*@
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="/Documentos/DocCompartidos">
                        <div class="card">
                            <div class="card-block">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h4 class="text-c-yellow">

                                            @foreach (var item1 in ViewBag.ConteoC)
                                            {
                                                @item1.compartidos
                                            }
                                        </h4>
                                        <h6 class="text-muted m-b-0">Documentos Compartidos</h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        <i class="fa fa-share-alt f-28"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-c-yellow">
                                <div class="row align-items-center">
                                    <div class="col-9">
                                        <p class="text-white m-b-0"> </p>
                                    </div>
                                    <div class="col-3 text-right">
                                        @*<i class="fa fa-line-chart text-white f-16"></i>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col" id="cardVigente">
                    <a href="#">
                        <div class="card" onclick="VDocVigente();" style="cursor:pointer">
                            <div class="card-block">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h4 class="text-c-green">

                                            @foreach (var item1 in ViewBag.ConteoV)
                                            {
                                                @item1.TotalDocVigente
                                            }
                                        </h4>
                                        <h6 class="text-muted m-b-0">Documentos Vigentes</h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        <i class="fa fa-calendar-check-o f-28"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-c-green">
                                <div class="row align-items-center">
                                    <div class="col-9">
                                        <p class="text-white m-b-0"></p>
                                    </div>
                                    <div class="col-3 text-right">
                                        @*<i class="fa fa-line-chart text-white f-16"></i>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col" id="dashboardCardVencido">
                    <a href="#DocVencido">
                        <div class="card" onclick="VDocVencido();" style="cursor:pointer">
                            <div class="card-block">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h4 class="text-c-red">
                                            @foreach (var item1 in ViewBag.ConteoVe)
                                            {
                                                @item1.TotalDocVencido
                                            }
                                        </h4>
                                        <h6 class="text-muted m-b-0">Documentos vencidos</h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        <i class="fa fa-calendar-times-o f-28"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-c-red">
                                <div class="row align-items-center">
                                    <div class="col-9">
                                        <p class="text-white m-b-0"></p>
                                    </div>
                                    <div class="col-3 text-right">
                                         @*<i class="fa fa-line-chart text-white f-16"></i>*@
                                     </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col" onclick="ModalSolicitud();" id="cardSolicitud">
                    <a href="#">
                        <div class="card" style="cursor:pointer">
                            <div class="card-block">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h4 id="counter" style="color: #FFB6C1">
                                            @ViewBag.Solicitud.Id
                                        </h4>
                                        <h6 class="text-muted m-b-0">Solicitudes</h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        @*<i class="fa fa-check-square-o f-28"></i>*@
                                        <img id="gif-icon" src="~/Images/Headers/Email.gif" style="height:100%; width:auto;" />

                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-c-white">
                                <div class="row align-items-center">
                                    <div class="col-9">
                                        <p class="text-white m-b-0"></p>
                                    </div>
                                    <div class="col-3 text-right">
                                        @*<i class="fa fa-line-chart text-white f-16"></i>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>

            <div class="row">
                <!-- Docs Proximos a vencer -->
                <div class="col-xl-7 col-md-12" id="ProxVencer" style="display: block;">
                    <div class="card table-card">
                        <div class="card-header">
                            <h5>Documentos Proximos a vencer</h5>

                        </div>
                        <div class="p-15">
                            <div class="table-responsive">
                                <table id="TDocPVencer" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th class="text-center">Días Restantes</th>
                                            <th class="text-center">Fecha de vencimiento</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.lisProx)
                                        {

                                            <tr>
                                                <td><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;<a>@item.Nombre</a></td>
                                                <td class="text-center">@item.DiasRestantes</td>
                                                <td class="text-center">@item.FechaVencimiento</td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- GRAFICO -->
                <div class="col-xl-5 col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col">
                                    <h4>Estado</h4>
                                    <p class="text-muted">Verifica el estado de tus documentos que has compartido.</p>
                                </div>

                                <canvas id="pie-chart" width="400" height="200"></canvas>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">
                <!-- Docs Vigentes -->
                <div class="col-xl-12 col-md-12" id="DocVigente" style="display: none;">
                    <div class="card table-card">
                        <div class="card-header">
                            <h5>Documentos Vigentes</h5>
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-block p-15" style="display: block;">
                            <div class="table-responsive">

                                <table id="TDocVigente" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th class="text-center">Fecha de vencimiento</th>
                                            <th class="text-center">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.lisvigente)
                                        {

                                            <tr>
                                                <td><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;<a>@item.Nombre</a></td>
                                                <td class="text-center">@item.FechaVencimiento</td>
                                                <td class="text-center"><label class="label label-success">Vigente</label></td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Docs Vencidos -->
                <div class="col-xl-12 col-md-12" id="DocVencido" style="display: none;">
                    <div class="card table-card">
                        <div class="card-header">
                            <h5>Documentos Vencidos</h5>
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-block p-15 container">
                            <div class="table-responsive">
                                <table id="TDocVencido" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th class="text-center">Fecha de vencimiento</th>
                                            <th class="text-center">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.lisvencido)
                                        {

                                            <tr>
                                                <td><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;<a>@item.Nombre</a></td>
                                                <td class="text-center">@item.FechaVencimiento</td>
                                                <td class="text-center"><label class="label label-danger">Vencido</label></td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <!-- Page-body end -->
    </div>
    <div id="styleSelector"> </div>
</div>




<!---MODAL Solicitud--->
<div class="modal fade" id="ModalCompartido" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="overflow-y: auto;">
    <div class="modal-dialog modal-xl" style="max-width:750px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Solicitud de Documentos</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <p>Seleccione si desea permitir la descarga de los siguientes documentos.</p>

                <div class="container-fluid">
                    <div class="row">
                        <!--SOLICITUDES -->
                        <div class="col-12" id="Solicitud">
                            <div class="card table-card">
                                <div class="p-15">
                                    <div class="table-responsive">
                                        <table id="TDocSolicitud" class="table table-hover" cursor: pointer">
                                            <thead>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th class="text-center">Solicitante</th>
                                                    <th class="text-center">Estado</th>
                                                    <th class="text-center">Fecha de solicitud</th>
                                                    <th class="text-center">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.ListSolicitud)
                                                {
                                                    <tr style="background-color: 
                                                            @if (item.IdClasificacion == 1)
                                                            {
                                                                <text>rgba(255,205,86,0.2)</text> 
                                                            }
                                                            else if (item.IdClasificacion == 2)
                                                            {
                                                                <text>hsla(120, 100%, 25%, 0.5)</text>
                                                            }
                                                            else if (item.IdClasificacion == 3)
                                                            {
                                                                <text>hsla(0, 100%, 50%, 0.5)</text>                                                            }
                                                            else
                                                            {
                                                                <text>white</text>
                                                            };" data-id="@item.Id">
                                                        <td><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;<a>@item.Nombre</a></td>
                                                        <td class="text-center">@item.Elaboro</td>
                                                        <td class="text-center estadocolumna">@item.Estatus</td>
                                                        <td class="text-center">@item.FechaPublicacion</td>
                                                        <td class="text-center"><a onclick="Aceptar(@item.Id);"><i class="fa fa-check-square-o f-20" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;<a onclick="Negar(@item.Id);"><i class="fa fa-times-circle-o f-20" aria-hidden="true"></i></a></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="BtncloseCompartir" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/assets/js/jquery/jquery.min.js"></script>


<script>

    $(document).ready(function () {
        var counter = parseInt($('#counter').text());

        if (counter > 0) {
            $('#gif-icon').addClass('block');
        } else {
            $('#gif-icon').removeClass('block');
        }



    });

        var data = [{
      data: [@ViewBag.Visto ,@ViewBag.NVisto],

            backgroundColor: [
                "rgba(75,192,192,0.2)",
                "rgba(255,205,86,0.2)"

            ],
            borderColor: [
                "rgba(75,192,192,1)",
                "rgba(255,205,86,1)"
            ]
        }];
        var options = {
      tooltips: {
        enabled: true
      },
      plugins: {
        datalabels: {
          formatter: (value, ctx) => {

            let sum = ctx.dataset._meta[0].total;
            let percentage = (value * 100 / sum).toFixed(0) + "%";
            return percentage;


          },
              color: '#000000',
        }
      }
        };
        var ctx = document.getElementById("pie-chart").getContext('2d');
        var myChart = new Chart(ctx, {
        type: 'pie',
      data: {
      labels: ['Vistos', 'Pendientes'],
        datasets: data
      },
      options: options
});
</script>

<script>
    $(document).ready(function () {
        $('#TDocVigente').DataTable({

            pageLength: 5,
            lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todas']],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/es-MX.json'
            }
        });

        $('#TDocVencido').DataTable({
            pageLength: 5,
            lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todas']],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/es-MX.json'
            }
        });

        $('#TDocPVencer').DataTable({

            pageLength: 5,
            lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todas']],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/es-MX.json'
            }
        });
        $('#TDocSolicitud').DataTable({

            pageLength: 5,
            lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todas']],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/es-MX.json'
            }
        });
    });

    $('#IdMenuDashboard').addClass("active");

    function VDocVigente() {
        $("#DocVigente").css("display", "block");
    }
    function VDocVencido() {
        $("#DocVencido").css("display", "block");
    }

    function ModalSolicitud() {
        $('#ModalCompartido').modal('show');
    }

    function Aceptar(Id) {
        var obj = {};
        obj['Id'] = Id;

        var jsonObject = {
            "Documento": obj
        };

        $.ajax({
            url: "@Url.Action("SolicitudAceptar", "Administracion")",
            data: JSON.stringify(jsonObject),
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            success: function (resultado) {
                if (resultado.Id == 1) {
                    swal({
                        title: "Permiso concedido",
                        text: "Se otorgaron permisos satisfactoriamente",
                        icon: "success",
                        button: "Aceptar",
                        target: document.getElementById('ModalCompartido')
                    });

                    var fila = document.querySelector("tr[data-id='" + Id + "']");
                    fila.style.backgroundColor = "hsla(120, 100%, 25%, 0.5)";

                    // Cambiar el texto de la columna Estado
                    var columnaEstado = fila.querySelector(".text-center.estadocolumna");
                    columnaEstado.innerText = "Aprobada";

                } else {
                    alert('Intente más tarde');
                }
            }
        });


    }
    function Negar(Id) {
        var obj = {};
        obj['Id'] = Id;

        var jsonObject = {
            "Documento": obj
        };

        $.ajax({
            url: "@Url.Action("SolicitudNegar", "Administracion")",
            data: JSON.stringify(jsonObject),
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            success: function (resultado) {
                if (resultado.Id == 1) {
                    swal({
                        title: "Permiso Denegado",
                        text: "El usuario no tendra acceso a la descarga",
                        icon: "success",
                        button: "Aceptar",
                        target: document.getElementById('ModalCompartido')
                    });

                    var fila = document.querySelector("tr[data-id='" + Id + "']");
                    fila.style.backgroundColor = "hsla(0, 100%, 50%, 0.5)";

                    // Cambiar el texto de la columna Estado
                    var columnaEstado = fila.querySelector(".text-center.estadocolumna");
                    columnaEstado.innerText = "Negada";
                } else {
                    alert('Intente mas tarde')
                }
            }
        });
    }
</script>
